    <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Builder Organization Profile (Under Approval) </h1>
                </div>
                <!--/.col-lg-12 -->
            </div>


            <div id="build" class="list-detail detail-block target-block">

                <div class="block-inner-link" >

                    <div style="height:250px;"> 
                        We only allow verified and credible builders to list properties on our website
                        <br><br>
                        Please be patient while verify your details
                        <br><br>
                        We will call you on your registered phone if we need any clarifications
                    </div>
                </div>
            </div>



            <div class="clear"></div>



        </div>
