<div class="page-content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"> Portfolio Management </h1>
			</div>
			<!--/.col-lg-12 -->
		</div>
		<div id="build" class="list-detail">
			<div class="block-inner-link alert alert-success" >
				   <?php
					if (!empty($page)) {
						if ($page == '1') {
							echo "Property added Sucessfully";
						} else if ($page == '2') {
							echo "Property Updated Sucessfully";
						} else if ($page == '3') {
							echo "Portfolio Request Submit Sucessfully";
						} else {
							echo "Your Property has been Updated sucessfully";
						}
					} else {
						echo "Service  submitted sucessfully";
					}
					?>	
			</div>
		</div>
		<div class="clear"></div>
	</div>
