<?php
$fillterOptions = array("keyword" => $keyword, "scriteria" => $scriteria);
$this->Paginator->options(array(
    'update' => '#inventory_list',
    'evalScripts' => true,
    'url' => $fillterOptions,
    'before' => $this->Js->get('#loaderID')->effect(
            'fadeIn', array('buffer' => false)
    ),
    'complete' => $this->Js->get('#loaderID')->effect(
            'fadeOut', array('buffer' => false)
    ),
));
$ascImage = $this->Html->image('up_arrow.gif', array('border' => 0));
$descImage = $this->Html->image('down_arrow.gif', array('border' => 0));
?>

<table id="inventory_list" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
						
                        <th>Name of channel partner</th>
						<th>Email id</th>
					    <th>Mobile Number</th>
						<th>No of sales user created</th>
						<th>No of Proposal Shared</th>						
                       <th>Action</th>
                    </tr>
                </thead>
				 <tbody>
                    <?php
					//echo "<pre>";print_r(list);die;
                       // foreach ($salesempdata as $key=>$row):
					   if(empty($slist)){
						  // echo "Empty data".print_r($list);
						   //-----------------------------------------------------------
						     foreach ($brokerlist as $key=>$row):	
                    ?>
                     <tr>
						<!--<td><?php //echo $this->Number->getSalesNameBySalesId($row['InvBuilderSalesShareInventory']['sales_id']); ?></td>-->
						
						<!--<td><?php //echo isset($row['SalesUser']['id']) ? $row['SalesUser']['id'] : "N/A";?></td>-->
						
						<td><?php echo isset($row['SalesUser']['name']) ? $row['SalesUser']['name'] : "N/A";?></td>
                       
					   <td><?php echo isset($row['SalesUser']['email']) ? $row['SalesUser']['email'] : "N/A";?></td>	
                        <td><?php echo isset($row['SalesUser']['mobile']) ? $row['SalesUser']['mobile'] : "N/A";?></td>
						 <td><?php echo $this->Number->getCountOfSalesuserCreatedByBroker($row['SalesUser']['id']); ?>
							<!--<a href="<?php echo Router::url('/accounts/brokerPersonDetailsCreatedByBroker/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
						</td>				
                        <td><?php echo $this->Number->getCountOfProposal($row['SalesUser']['id']); ?>
						<!--<a href="<?php echo Router::url('/accounts/brokerPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
						</td>
                  
                        <td style="text-align: center;">
                            &nbsp;
                            <a href="<?php echo Router::url('/accounts/brokerPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            &nbsp;
                        </td>
                    </tr>
                    <?php
                        endforeach;
					   
						   //----------------------------------------------------------
					   }
					   else{
						 //  echo "Data Comming".print_r($slist);
						   //-------------------------------------
						     foreach ($slist as $key=>$row):
                    ?>
                     <tr>
						<!--<td><?php //echo $this->Number->getSalesNameBySalesId($row['InvBuilderSalesShareInventory']['sales_id']); ?></td>-->
						
						<!--<td><?php //echo isset($row['SalesUser']['id']) ? $row['SalesUser']['id'] : "N/A";?></td>-->
						
						<td><?php echo isset($row['SalesUser']['name']) ? $row['SalesUser']['name'] : "N/A";?></td>
                       
					   <td><?php echo isset($row['SalesUser']['email']) ? $row['SalesUser']['email'] : "N/A";?></td>	
                        <td><?php echo isset($row['SalesUser']['mobile']) ? $row['SalesUser']['mobile'] : "N/A";?></td>
											
                        <td><?php echo $this->Number->getCountOfProposal($row['SalesUser']['id']); ?>
						<a href="<?php echo Router::url('/accounts/brokerPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
						</td>
                   <td><?php echo $this->Number->getCountOfSalesuserCreatedByBroker($row['SalesUser']['id']); ?>
				   <a href="<?php echo Router::url('/accounts/brokerPersonDetailsCreatedByBroker/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
				   </td>
                       <!-- <td style="text-align: center;">
                            &nbsp;
                            <a href="<?php echo Router::url('/accounts/brokerPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            &nbsp;
                        </td>-->
                    </tr>
                    <?php
                        endforeach;
						   //--------------------------------------
					   }
					 
                    ?>
                </tbody>
           
            </table>
			
		<!--	<div class="pagination">
			<?php /*if ($this->Paginator->numbers()) {
				//echo $this->Paginator->prev(); ?>
				<?php echo $this->Paginator->numbers(); ?>
				<?php echo $this->Paginator->next();
			}*/ ?>
		</div> -->
<?php echo $this->Js->writeBuffer(); ?>