<?php
$fillterOptions = array("keyword" => $keyword, "scriteria" => $scriteria);
$this->Paginator->options(array(
    'update' => '#inventory_list',
    'evalScripts' => true,
    'url' => $fillterOptions,
    'before' => $this->Js->get('#loaderID')->effect(
            'fadeIn', array('buffer' => false)
    ),
    'complete' => $this->Js->get('#loaderID')->effect(
            'fadeOut', array('buffer' => false)
    ),
));
$ascImage = $this->Html->image('up_arrow.gif', array('border' => 0));
$descImage = $this->Html->image('down_arrow.gif', array('border' => 0));
?>

		<table id="inventory_list" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
					
                        <th>Name of sales persons</th>
						<th>Email</th>
                        <th>Mobile Number</th>
                        <th>No of Proposal Shared</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
					$startdate = $_GET['data']['keyword1'];
					$enddate =$_GET['data']['keyword2'];
					
					
					$startdate1 = date_format(date_create($_GET['data']['keyword1']),"Y-m-d");
					$enddate1 = date_format(date_create($_GET['data']['keyword2']),"Y-m-d"); 
					//echo $startdate1;
					//echo $enddate1;
					//echo $_GET['data']['keyword2'];
					//$date=date_create("2013-03-15");
					//e//cho date_format($enddate,"Y-m-d H:i:s");
					//echo '<pre>'; print_r($this->params['pass']);
					//echo "<pre>";print_r(list);die;
                       // foreach ($salesempdata as $key=>$row):
					   if(empty($slist)){
						  // echo "Empty data".print_r($list);
						   //-----------------------------------------------------------
						     foreach ($list as $key=>$row):
                    ?>
                    <tr>
						<td><?php echo isset($row['SalesUser']['name']) ? $row['SalesUser']['name'] : "N/A";?></td>
                        <td><?php echo isset($row['SalesUser']['email']) ? $row['SalesUser']['email'] : "N/A";?></td>
                        <td><?php echo isset($row['SalesUser']['mobile']) ? $row['SalesUser']['mobile'] : "N/A";?></td>
						<td>
						<?php 
						/*if(isset($_GET['data']) && !empty($_GET['data'])){
							echo $this->Number->getCountOfProposal1($row['SalesUser']['id'],$startdate,$enddate);
							//echo 'yes';
						}else{
							echo $this->Number->getCountOfProposal($row['SalesUser']['id']);
														//echo 'no';
						}*/
						echo count($row['AppClientLeadsHistory']);
						
						
						?>
						</td>
                        <td style="text-align: center;">
                            <!--<a href="<?php echo Router::url('/accounts/inventory/edit/'.$row['InvInventory']['id'],true);?>" title="Edit" style="font-size: 16px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
                            &nbsp;
							<?php if(isset($_GET['data']) && !empty($_GET['data'])){
								?>
								<a href="<?php echo Router::url('/accounts/salesPersonDetails/'.$row['SalesUser']['id'].'/'.$startdate1.'/'.$enddate1,true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
								<?php
							}
							else { ?>
							<a href="<?php echo Router::url('/accounts/salesPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
							<?php								
							}?>
                           <!-- <a href="<?php echo Router::url('/accounts/salesPersonDetails/'.$row['SalesUser']['id'].'/'.$startdate1.'/'.$enddate1,true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>-->
                            &nbsp;
                            <!--<a href="javascript:void(0);" onclick="javascript:deleteInventory('<?php echo $row['InvInventory']['id']?>')" title="Delete" style="font-size: 16px; color: red;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
                        </td>
                    </tr>
                    <?php
                        endforeach;
					   
						   //----------------------------------------------------------
					   }
					   else{
						   echo "Data Comming";
						   //.print_r($slist);
						   //-------------------------------------
						     foreach ($slist as $key=>$row):
                    ?>
                    <tr>
						<td><?php echo isset($row['SalesUser']['name']) ? $row['SalesUser']['name'] : "N/A";?></td>
                        <td><?php echo isset($row['SalesUser']['email']) ? $row['SalesUser']['email'] : "N/A";?></td>
                        <td><?php echo isset($row['SalesUser']['mobile']) ? $row['SalesUser']['mobile'] : "N/A";?></td>
						<td><?php echo count($row['AppClientLeadsHistory']); 
							?></td>
                        <td style="text-align: center;">
                            <!--<a href="<?php echo Router::url('/accounts/inventory/edit/'.$row['InvInventory']['id'],true);?>" title="Edit" style="font-size: 16px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
                            &nbsp;
                            <a href="<?php echo Router::url('/accounts/salesPersonDetails/'.$row['SalesUser']['id'],true);?>" title="View" style="font-size: 16px;"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            &nbsp;
                            <!--<a href="javascript:void(0);" onclick="javascript:deleteInventory('<?php echo $row['InvInventory']['id']?>')" title="Delete" style="font-size: 16px; color: red;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
                        </td>
                    </tr>
                    <?php
                        endforeach;
						   //--------------------------------------
					   }
					 
                    ?>
                </tbody>
        </table>
			
					<!--<div class="pagination">
			<?php /*if ($this->Paginator->numbers()) {
				echo $this->Paginator->prev(); ?>
				<?php echo $this->Paginator->numbers(); ?>
				<?php echo $this->Paginator->next();
			} */?>
		</div>-->
<?php echo $this->Js->writeBuffer(); ?>