/*
 * Colors
 */
/*
 * Menu
 */
.adaptive-menu {
    position: fixed;
    top: 0;
    right: -324px;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 320px;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: translateX(+324px);
    -ms-transform: translateX(+324px);
    transform: translateX(+324px);
    text-align: left;
    background-color: #29333d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
}
.adaptive-menu > *:first-child,
.adaptive-menu ul:first-of-type {
    display: block ;
}
.adaptive-menu ul:first-of-type {
    margin: 0;
    padding: 0;
}
.adaptive-menu ul:first-of-type li {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}
.adaptive-menu ul:first-of-type li:hover::before, .adaptive-menu ul:first-of-type li:hover::after, .adaptive-menu ul:first-of-type li::before, .adaptive-menu ul:first-of-type li::after {
    display: none;
}
.adaptive-menu ul:first-of-type li a {
    font-size: 18px;
    display: block;
    padding: 20px;
    transition: background-color .3s ease-out;
    color: #fff;
    border: 0;
}
.adaptive-menu ul:first-of-type li a:hover {
    color: white;
    background: #d6493e;
}
.adaptive-menu ul:first-of-type li a:hover::before, .adaptive-menu ul:first-of-type li a:hover::after, .adaptive-menu ul:first-of-type li a::before, .adaptive-menu ul:first-of-type li a::after {
    display: none;
}
.adaptive-menu--is-visible.adaptive-menu {
    visibility: visible;
    -webkit-transform: translateX(-324px);
    -ms-transform: translateX(-324px);
    transform: translateX(-324px);
}
.adaptive-menu__open {
    position: fixed;
    z-index: 100;
    top: 3px;
    right: 8px;
    width: 50px;
    height: 50px;
    background: transparent;
}
.adaptive-menu__open--is-hidden {
    visibility: hidden;
}
.adaptive-menu__open > span {
    position: absolute;
    top: 46%;
    left: -webkit-calc(50% - 19px);
    left: calc(50% - 19px);
    width: 36px;
    height: 3px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    pointer-events: none;
    background: #fff;
}
.adaptive-menu__open > span:hover {
    opacity: .7;
}
.adaptive-menu__open > span::before, .adaptive-menu__open > span::after {
    position: absolute;
    left: 0;
    width: 36px;
    height: 3px;
    content: '';
    background: #fff;
}
.adaptive-menu__open > span::before {
    top: -10px;
}
.adaptive-menu__open > span::after {
    bottom: -10px;
}
.adaptive-menu__open > span b {
    display: none;
}
.adaptive-menu__close {
    position: absolute;
    z-index: 1000;
    top: 16px;
    left: 18px;
    width: 36px;
    height: 40px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    opacity: .7;
}
.adaptive-menu__close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1;
}
.adaptive-menu__close--is-hidden {
    visibility: hidden;
}
.adaptive-menu__close > span {
    display: none;
}
.adaptive-menu__close::before, .adaptive-menu__close::after {
    position: absolute;
    top: 18px;
    left: 0;
    width: 36px;
    height: 6px;
    content: '';
    background: #d6493e;
}
.adaptive-menu__close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.adaptive-menu__close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.adaptive-menu__bg {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    background-color: transparent;
}
.adaptive-menu__bg--is-visible {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}
.adaptive-menu ul.submenu{display:none;     -webkit-animation: fadeInUp 400ms;
                          animation: fadeInUp 400ms;}
.adaptive-menu  ul.menu > li:hover .submenu{display:block;     -webkit-animation: fadeInUp 400ms;
                                            animation: fadeInUp 400ms;}	


/*# sourceMappingURL=adaptive-menu.default.css.map */
