
.page-header{
	margin-top:0;
	margin-bottom:5px;	
}
#content {
    padding-top: 110px;
    position: relative;
}

.page-sidebar {
    position: relative;
}
.count {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}
.user-responce .list {
    border-right: 1px solid #ccc;
    margin-bottom:20px;
}
.page-content{
    position: relative;
}
.sticky {
    position: fixed;
    z-index: 6;
    width: 263px !important;
}
.navbar-collapse{
	padding:0;
}
div#dashboard_menus {
    width: 263px !important;
}
.list-group-item-success {
    color: #fff;
    background-color: #29333d;
}
a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    color: #fff;
    background-color: #fec32f;
    border-color: #fec32f;
}
a.list-group-item-success {
    color: #fff;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #fff;
    background-color: #fec32f;
}
.list-group-item{
    margin:0;
    border:none;
    box-shadow: 0px 0px 1px #ddd;
}
.list-group{
    margin:0;
}
.in .list-group-item{
    margin:0;
    border:none;
    box-shadow: 0px 0px 1px #ddd;
	background: #efefef;
}
.in .list-group-item:focus{
    margin:0;
    border:none;
    box-shadow: 0px 0px 1px #ddd;
	background: #ececec;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn-yellow{
   background-color: #fec12e !important;
   color:#fff;
   border-color:transparent;
   border:none;
}
.page-header{
    border:none;
}
.fa-fa-caret-down {
    margin-left: 53%;
}
.fa-fa-caret-down {
    margin-left: 45%;
}
i.fa.fa-search.fa-lg {
    cursor: pointer;
}
#MainMenu .list-group-item .fa {
    position: absolute;
    right: 10px;
}
.circle {
    border: 1px solid #ffc000;
    padding: 5px;
    background: #ffc000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    height: 100%;
}
.user_pa_area {
    display: inline-block;
    background: #d4d4d4;
    padding-top: 76px;
}
.duser_menu .nav li a {
    color: #fff;
}
.duser_menu .nav>li>a:hover,
.nav>li>a:focus {
    background: #1d2329;
}
.list-group.panel > .list-group-item {
    border-radius: 0px;
}
.list-group-submenu {
    margin-left: 20px;
}
.form-control {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
}
.detail-block {
    background-color: #fff;
    width: 100%;
}
.detail-title {
    padding-bottom: 18px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.detail-title a {
    color: #29333d;
    font-weight: 600;
}
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 0px;
}
.list-group.panel > .list-group-item {
    border-radius: 0px;
}
.panel-default>.panel-heading,
.panel {
    background-color: #e6e6e6;
    border: 0 none;
    box-shadow: none;
    padding-top: 0%;
}
.user_pa_area {
    display: inline-block;
    background: #d4d4d4;
    width: 100%;
}
.user_pa_area h1 {
    color: #29333d;
    padding: 14px 0 14px 0;
    margin: 0px;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
}
.user_pa_area #side-menu a.list-group-item-success {
    background: #29333d;
}
.user_pa_area #side-menu a.list-group-item-success {} .user_pa_area .list-group .dropmenu a {
    padding-left: 29px !important;
}
.user_pa_area #side-menu .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #3a4754;
    color: #fff;
    border-radius: 0px;
}
.user_pa_area #side-menu a.list-group-item:hover,
.user_pa_area #side-menu a.list-group-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1c2127;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.local1.p {
    font-size: 17px;
    padding-top: 3%;
}
.user_inner {
    background: #f1f1f1;
    padding: 0px;
}
.user_inner .navbar-collapse {
    padding: 0px;
}
.user-page-area {} .user_inner_menu {}
/*.list-detail{padding-bottom: 0px;}*/

.list-detail ul {
    list-style: none;
}
.panel_menu_top li {
    float: left;
    padding: 0 9px;
    border-right: 1px solid #ccc;
    font-size: 14px;
}
.panel_menu_top li:last-child {
    border: none;
}
.panel_menu_top li a {
    color: #4b6886;
}
.panel-pagination {
    margin: 10px 0;
}
.panel-pagination .inner_pagi {
    list-style: none;
}
.panel-pagination .inner_pagi li {
    float: left;
    background: #fff;
}
.next,
.prev {
    border: 1px solid #CCCCCC;
    margin: 2px;
    padding: 0 5px;
}
.panel-pagination .pagi_nu {
    padding: 0px 5px;
    margin: 2px;
    border: 1px solid #ccc;
    background: #fff;
}
.panel-pagination .pagi_nu.active {
    background: #29333d;
    color: #fff;
}
.panel-pagination .pagi_nu:hover {
    background: #29333d;
    color: #fff;
}
.panel-pagination .pagi_nu>a:hover {
    background: #29333d;
    color: #fff;
}
.panel-pagination .pagi_nu>a:focus {
    background: #29333d;
    color: #fff;
}
.no-bullet {
    list-style: none;
}
.menu-block {
    padding: 10px;
    font-weight: 600;
    margin: 0px;
}
.menu-block .menu-item-active {
    color: #000;
}
.user_pa_area .label-text {
    font-weight: 600;
}
.user_panel_search {
    text-align: right;
}

.block-inner-link li {
    padding: 5px;
	float: left;
}
.block-inner-link li a {
    font-size: 16px;
    font-weight: 600;
    background: #29333d;
    padding: 2px 5px;
    color: #fff;
}
.view-detail {
    background: #eaeaea;
}
.list-response {
    padding-bottom: 0px;
}
.list-response .user-type {
    color: #6f6f6f;
    font-size: 12px;
    font-weight: 600;
}
.inner-res-contact {} .res-date {
    font-size: 14px;
    font-weight: 600;
}
.user-page-area .detail-block h3 {
    font-weight: 600;
    padding: 0px;
}

#dashboard_menu.sticky {
    float: none;
    position: fixed;
    top: 20px;
    z-index: 6;
    left: auto;
}

.mobile-sidebar {
    max-width: 100% !important;
}
.dashboard-exp-menu {
    padding: 5px 15px;
    background: #29333d;
    margin-top: 12px;
    color: #fff;
}
.myaccountbtn .btn-default:hover, .myaccountbtn .btn-default:focus, .myaccountbtn .btn-default.focus, .myaccountbtn .btn-default:active, .myaccountbtn .btn-default.active, .myaccountbtn .open>.dropdown-toggle.btn-default{
	background:none !important;
}
.dropdown-menu>li>a{
	padding:3px 10px;
}
.fpform .btn-default:hover, .fpform .btn-default:focus, .fpform .btn-default.focus, .fpform .btn-default:active, .fpform .btn-default.active, .fpform .btn-default{
	border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
div#flashMessage {
    padding: 5px 10px;
    background: #2ccb6f;
    margin-bottom: 15px;
    color: #fff;
}

.add_property_form .dropdown-menu{
	border:none;
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding: 0 !important;
}
/*----------------------------Dashboard Page-----------------------*/

.user-responce h1 {
    border-bottom: 1px solid #ccc;
    padding: 7px 0px !important;
    position: relative;
    color: #29333d !important;
    font-size: 30px !important;
    font-weight: 500;
    line-height: 30px !important;
    margin: 0 0 20px;
}
.user-responce {
    text-align: center;
    margin-top: 20px;
}
.pd10 {
    padding: 10px;
    display: inline-block;
}
.user-request-services {
    background: #fff;
    padding: 30px;
    margin-top: 60px;
}
.user-request-services h1 {
    border-bottom: 1px solid #ccc;
    padding: 7px 0px !important;
    position: relative;
    color: #29333d !important;
    font-size: 22px !important;
    font-weight: 500;
    line-height: 28px !important;
    margin: 0 0 20px;
}
.pagination {
	margin: 18px 0;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}
.user-responce .list:last-child {
    border: none;
}

@media (max-width: 1200px) {
    div#dashboard_menus {
		width: 210px !important;
	}
}
@media (max-width: 768px) {
    
}
@media (min-width: 768px){
	
}
@media (max-width: 767px) {
    .page-sidebar{
        visibility:hidden;
    }
    .page-content{
        margin:30px auto;
		padding:0;
    }
	.user_panel_search{
		margin:0 auto;
	}
    .myaccountbtn{
        float:none;
    }
	.container {
		width: 100%;
	}
	.page-header{
		margin-top:0;
	}
	.myaccountbtn .dropdown-menu {
		border-radius: 0px;
		top: 41px;
		border: none;
		left:10px;
		right:auto;
	}
	.list{
		margin-bottom:20px;
	}
}
@media only screen and (max-width: 480px) {
    .container {
		width: 100%;
	}
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
