body {
    background:#333 url(../images/skewed_print.png) repeat !important;
}
.navbar-inverse .navbar-inner {
    background-color: #191818 !important;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #111111 !important;
    color: #FFFFFF !important;
}
.leftbar {
    background: #000 !important;
}
.admin-info {
    background:#121e25 !important;
    color:#fff !important;
}
.left-secondary-nav, .left-nav {
    background:#4d4d4d url(../images/low_contrast_linen_@2X.png) repeat !important;
}
.left-primary-nav ul li.active a {
    background:#121e25 !important;
    color: #DA3610 !important;
}
.left-primary-nav {
    background: #060 !important;
}
.main-wrapper {
    background: #eee url(../images/fabric_plaid_@2X.png) repeat !important;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #333 !important;
}
.dropdown-menu {
    background-color: #333 !important;
}
.page-header, .widget-header {
    color:#333 !important;
    border-bottom:#666 1px solid;
}
.notify-h {
    color:#fff !important;
}
.copyright {
    color:#fff !important;
}
.side-head {
    border-bottom: rgba(000, 000, 000, 0.2) 1px solid !important;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset !important;
    color: #ffd800 !important;
}
.accordion-nav > li {
    border-bottom: rgba(000, 000, 000, 0.3) 1px solid;
}
.accordion-nav > li > a {
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    color:#f5f5f5;
}
.accordion-nav > li a:hover {
    background:#fff;
    color:#da3610;
}
.accordion-nav > li a span {
    color:#000;
}
.accordion-nav li li a {
    border-top:rgba(000, 000, 000, 0.3) 1px solid;
    box-shadow:0 -1px 0 rgba(255, 255, 255, 0.2) inset;
    color:#f5f5f5;
}
.accordion-nav li ul {
    border-top:rgba(000, 000, 000, 0.3) 1px solid;
    box-shadow:0 -1px 0 rgba(255, 255, 255, 0.2) inset;
}
.accordion-nav li img {
    border-radius:4px;
    background:#CCC;
    padding:2px;
}
.accordion-nav li li img {
    top:5px !important;
}
.notification-nav .dropdown-menu {
    background:#4d4d4d !important;
}
.gray, .light-gray {
    background: #ddd;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: #ccc;
}
.nav-tabs li a {
    background: #ddd;
}
.nav-tabs {
    border-bottom: 3px solid #ccc;
}
.tab-widget .tab-content {
    background:#FFFFFF;
    border: 1px solid #ccc;
}
.switch-board {
    background:#4d4d4d url(../images/low_contrast_linen_@2X.png) repeat !important;
}
.form-signin {
    border: 2px solid #000;
}
