<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts.Email.html
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title><?php echo $this->fetch('subject'); ?></title>
    </head>
    <body>
        <?php //echo $this->fetch('content'); ?>
		<p>Dear Sir/Ma'am,</p>
		<p>Thanks for writing us, our executive will contact you as soon as possible.</p>
		<br><br><br>
        <p>This is a computerized email by Fair Pockets, Please don't reply.</p>
		<br><br>
		<p>with regards</p>
		<p>Fair Pockets Teams</p>
    </body>
</html>