/*.searchMain_tab{background:none;}
.searchBox .tab-content{padding:0px;}*/

/* Saicosys */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#content{
    padding-top:55px;
}
.spacial-width{
	width:20%;
}
.search-left {
    padding-top: 5rem;
    font-size: 19px;
    color: #dbdbdb;
    position: relative;
    z-index:10;
}
.search-left h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 5px;
}
.search-form {
    padding-top: 30px;
}
.search-form .form-group,.search .form-group{
    padding-right:0px;
	margin-right:-10px;
}
.btn{padding:10px 12px;}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
    background:#fff;
    box-shadow: none;
    webkit-box-shadow: none;
}
.space-xxl{
    padding-top:100px;
}
.space-xl{
    padding-top:80px;
}
.space-l{
    padding-top:60px;
}
.space-m{
    padding-top:30px;
}
.space-x{
    padding-top:15px;
}
.dropdown-menu{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.btn-success {
    color: #333;
    background-color: #ffc000;
    border-color: #ffc000;
}
.btn-primary:hover, .btn-primary:focus {
    background: #29333d;
    color: #fff;
    outline: none;
    box-shadow: none;
}
#error .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success:hover {
    background-color: #29333d;
    border-color: #29333d;
    color: #ffffff;
}
label.validation-error {
	display : block;
	color : red;
	padding	: 5px 10px 0 10px;
	font-size: 13px;
}

input.validation-error {
	border-bottom	: 1px solid red !important;
}

/* Contact form message override */
.fpform .alert-success, .alert-error{
	padding : 10px;
}

#debug-kit-toolbar{
    display:none;
}
button.close {
    opacity: 1 !important;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 99;
    background: #29333d;
    color: #fff;
    font-size:15px;
    border-radius: 50%;
    padding: 5px 9px 8px;
    text-shadow:none;
}

#main-slider .carousel h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #ffc000;
    margin-bottom: 5rem;
}
.searchBox .form-control {
    height: 4.8rem;
    border-radius: 0px;
}
.searchBox .btn-group .btn {
    height: 4.8rem;
}
/* .searchBox .btn-group .btn:last-child {
    border-radius: 0px;
} */
.btn-primary {
    background: #d62540;
}
/* .LoginApp {
    margin-right: 63px;
} */
.navbar {
    background: #29333d;
    min-height:55px;
	border-bottom: 1px solid #14191d !important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #4e4e4e;
    background-color: #e5e5e5;
    border-color: #428bca;
}
.LoginApp .button {
    border: none;
    box-shadow: none;
    border-bottom-color: #ffffff;
    color: #fff;
}

.banner{
    position: absolute;
    top: -37px;
    right: 45px;
    width: 500px;
}

.align-right{
    float:right;
}

.search_btn {
    padding: 3px 12px !important;
    height: 34px;
    font-size: inherit;
}
.input-group {
    display: block;
}
.navbar-brand img {} input {
    border: none;
    border-bottom: 1px solid #ccc;
}
#search-bar {
    text-align: center;
}
#search-bar li {
    display: inline-block;
}
#search-bar li input {
    height: 20px;
}
#search-bar .black {
    background: #000;
}
#search-bar .type {} #search-bar .property {} #search-bar .search {} #search-bar .button {

}

/*
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{
	float: right;
    display:inline-block !important;
}
.glyphicon{
	top:2px;
}
.bootstrap-select.btn-group .dropdown-menu{
	min-width:300px !important;
}

.selected .glyphicon{
	top:1px;
}
.selected .glyphicon-ok:before {
    content: "";
    background:url('/img/front/check_a.png') no-repeat;
    padding: 2px 12px;
}
.glyphicon-ok:before {
    content: "";
    background:url('/img/front/check_b.png') no-repeat;
    padding: 1px 12px;
}
*/

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark{
    display:inline-block !important;
	float:none;
}
form .selected .glyphicon{
	top:6px;
	right:5px;
	position:absolute !important;
}
form .glyphicon{
	top:6px;
	right:5px;
	position:absolute !important;
}

#contact-biulder .selected .glyphicon-ok:before, .property-type .selected .glyphicon-ok:before {
    content: "";
    background:url('/img/front/check_a.png') no-repeat;
    padding: 2px 12px;
}
#contact-biulder .glyphicon-ok:before, .property-type .glyphicon-ok:before {
    content: "";
    background:url('/img/front/check_b.png') no-repeat;
    padding: 1px 12px;
}

.property-type .bootstrap-select.btn-group .dropdown-menu{
	min-width:288px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 0 !important;
	margin-left:5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
	right:5px !important;
    margin-top: 0px !important;
}

.glyphicon-ok:before {
    content: "";
}
.selected .glyphicon-ok:before {
    content: "";
}
/*
.btn-default{
	border:none;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
	border:none;
}
*/
.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}
.pagination {
	margin: 18px 0;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}
.breadcrumb {
	padding: 8px 0;
	margin: 0 0 18px;
	list-style: none;
	background-color: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.breadcrumb > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 0 0 #fff;
}
.breadcrumb > li > .divider {
	padding: 0 5px;
	color: #ccc;
}
.breadcrumb > .active {
	color: #999;
}
.career .form input, .career textarea, .contact .form input, .contact textarea {
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 340px;
}

.property_detail_area,#similer-propertys {
    background: #f7f7f7;
}

#detail,#addtional-detail,#description,#features,#amenitie,#similer-property {
    display: inline-block;
    background: #fff;
    padding: 15px;
	width: 100%;
}
.propert-detail .sticky {
    position: fixed;
    z-index: 6;
    width: 260px !important;
    right: auto;
}
.recent-properties {
    padding: 0 30px;
}
.LoginApp .modal-open .modal{
	overflow-y: hidden !important;
}
.owl-carousel {
    padding: 0 30px;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #29333d;
    border-color: #29333d;
}

.property-title a{
	color:#072882;
}
/***********************Shailendra*********************/

.spacer {
    padding: 30px 0px;
}
h1 {
    color: #d62540;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3c3c3c;
}
h2 span {
    color: #d62540;
}
h3 {
    font-size: 20px;
    color: #3c3c3c;
	font-weight: 600;
}

.light-grey {
    background: #f0f0f0;
}
.light-yellow {
    background: #fbf2d4;
}
.theme-yellow{
    color:#ffc000;
}
.row-padding {
    padding: 60px 45px;
}

.benefit ul {
    margin-top: 30px;
    display: inline-flex;
}
.benefit ul li {
    display: inline-block;
    width: 200px;
    list-style-type: none;
    margin: 0px 10px;
}
.benefit ul li p {
    color: #4e4e4e;
    font-size: 18px;
    margin-top: 10px;
}
.process {
    text-align: center;
}
.process img {
    margin-bottom: 10px;
}
.link {
    display: block;
    text-align: center;
}
.link a {
    margin-top:30px;
    display: inline-block;
    background: #d62540;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 15px 50px;
}
.link a:hover {
    background: #ffc000;
    color: #000;
}
.process ul {
    margin-top: 30px;
    display: inline-flex;
}
.process li {
    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    color: #3f3f3f;
    position: relative;
}
.process li strong {
    font-size: 20px;
    color: #585858;
}
.process .step1 {
    border-top: 12px solid #44b0b2;
}
.process .step1:after {
    content: url(images/icon/icon_step1.png);
    position: absolute;
    top: -18px;
    right: -9px;
    z-index: 1
}
.process .step2 {
    border-top: 12px solid #fbc82e;
}
.process .step2:after {
    content: url(images/icon/icon_step2.png);
    position: absolute;
    top: -18px;
    right: -9px;
    z-index: 2
}
.process .step3 {
    border-top: 12px solid #e73c5c;
}
.process .step3:after {
    content: url(images/icon/icon_step3.png);
    position: absolute;
    top: -18px;
    right: -9px;
    z-index: 3
}
.process .step4 {
    border-top: 12px solid #3e7c93;
}
.process .step4:after {
    content: url(images/icon/icon_step4.png);
    position: absolute;
    top: -18px;
    right: -9px;
    z-index: 4
}
.process .step5 {
    border-top: 12px solid #933e8c;
}
.process .step5:after {
    content: url(images/icon/icon_step5.png);
    position: absolute;
    top: -18px;
    right: -9px;
    z-index: 4
}
#id_top:focus{
	outline:0 !important;
}
.bootstrap-select .dropdown-toggle:focus{
	outline:0 !important;
}
/***********************Home-Banner*********************/

.home-banner {
    background: #24516e;
    padding:60px 0;
    background: url(/css/home/images/home-banner-bg.jpg);
    background-size: cover;
}

.home-banner .content {
    float: left;
    font-size: 19px;
    color: #dbdbdb;
    width: 100%;
}
.home-banner .content h1 {
    font-size: 36px;
    color: #FFF;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 5px;
}
.home-banner .content h3 {
    font-size: 24px;
    color: #6dd6e2;
    font-weight: bold;
    margin-top: 30px;
}
.home-banner .search {
    margin-top: 20px;
    color: #fff;
}
.home-banner .search ul#tabs {
    list-style-type: none;
    padding: 0;
}
.home-banner .search ul#tabs li {
    display: inline-block;
    background-color: #FFF;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #333;
    cursor: pointer;
}
.home-banner .search ul#tabs li:hover {
    background-color: #FFF;
}
.home-banner .search ul#tabs li.active {
    background-color: #333;
    color: #FFF;
}
.home-banner .search ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.home-banner .search ul#tab li {
    display: none;
}
.home-banner .search ul#tab li.active {
    display: block;
}
.header-pic {
    position: absolute;
    top: 80px;
    right: 100px;
}
.home-banner .top-search {
    background: none;
    text-align: left;
    padding-top: 10px;
    position: relative;
}
.home-banner .top-search .search-form {
    background: none;
    margin: 0px;
    color: #333;
    max-width: 800px;
    padding: 0px;
}
.home-banner .top-search .search-form .property-button {
    width: auto;
    margin-top: 10px;
}
.home-banner .top-search .search-form select {
    font-size: 14px;
}
.home #searchBox1 {
    position: relative;
    margin-top: 100px;
}
#searchBox1 h2 {
    border: none;
    color: #6cd4e1;
    margin-bottom: 0px;
    padding-bottom: 10px;
    font-size: 24px;
}
.home #searchBox1 .nav-tabs {
    margin-bottom: 0px;
}
.fair-pocket-pic {
    background: #000;
    text-align: center;
    padding: 10px;
}
.fair-pocket-pic img {
    width: 80%;
    height: auto;
}
.fair-price ul {
    margin-bottom: 50px;
}
.fair-price li {
    list-style-type: none;
    border-bottom: 1px dashed #999;
    padding-bottom: 10px;
}
.fair-price li:last-child {
    border: none;
}
.fair-price img {
    width: 60%;
    height: auto;
}
.fairpocket h4 {
    margin: 0px;
    padding: 0px;
}
/* .fairpocket ul {
    width: 48%;
    display: inline-table;
} */
.fairpocket li {
    margin: 20px 0px;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    width: 100%;
}
.fairpocket li div {
    position: absolute;
    left: 0px;
    top: 0px;
}
/* .our-products .row {
    padding: 80px 0px;
} */
/*********************research-reports***************************/

.research-reports-top {
    background: url(/webroot/css/home/images/research-reports-top-bg.jpg) no-repeat top;
    background-size: cover;
}
/*.research-reports-top form .btn-primary {
    border-radius: inherit;
    width: 12%;
    margin-top: -4px;
    margin-bottom: 0;
}
.research-reports-top .btn-primary {
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 50px;
}*/
/*.research-reports-top .searchBox {
    max-width: inherit;
    margin-bottom: 50px;
}
.research-reports-top .searchBox h3 {
    margin-top: 40px;
    font-weight: bold;
    color: #333;
}
.research-reports-top input {
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 35%;
}
.research-reports-top select {
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 15% !important;
}
.research-reports-top button {
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 20%;
    background: #d62540;
}
.research-reports-top .container {
    text-align: center;
}
.research-reports-top .lorem-ipsum {} .research-reports-top ul {
    text-align: center;
    margin-bottom: 20px;
}*/
.research-reports-top .reports li {
    text-align: center;
    display: inline-block;
    margin: 2px;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.7);
    width: 250px;
    font-size: 15px;
    color: #000;
}
/*.research-reports-top li img {
    padding-right: 10px;
}*/
/*********************Property-management***************************/

.property-management .row .col-lg-6 {
    padding: 0px 50px;
}
.property-management .banner img {
    width: 100%;
    height: auto;
}
.property-management .banner a {
    padding: 0px;
}
.property-management .row > div .heading {
    margin-bottom: 20px;
    display: table;
}
.property-management .row > div .heading img {
    margin-right: 20px;
    float: left;
}
.property-management .row > div .heading h3 {
    padding-top: 20px;
    float: left;
    color: #d62540;
}
.property-management .row > div .heading h3:after {
    clear: both;
}
.property-management .row ul li {
    list-style-type: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    color: #4e4e4e;
}
.property-management .row ul li:last-child {
    border-bottom: none;
}
.property-management .row ul li strong {
    font-size: 18px;
    color: #000;
}

/*********************Inner Pages***************************/

.inner-top-banner {
    background: #43709a;
    padding-top: 160px;
    position: relative
}
.inner-top-banner h2 {
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: #fff;
    font-size: 40px;
    color: #ffc000;
}
.about h4 {
    font-size: 18px;
    line-height: 24px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 300;
}
.about .readmore {
    padding: 10px 20px;
    border: 1px solid #d62540;
    display: inline-block;
    color: #d62540;
}
.about .readmore:hover {
    background: #d62540;
    color: #fff;
}
/*********************Team***************************/

.team {
    text-align: center;
}
.team h3 span {
    font-weight: normal;
}
/*********************Research Details***************************/
.propert-details{
	background:#29333d;
}
.research_details iframe {
    width: 100%;
}

.research_details .project-details .right {
    padding: 15px;
}
.research_details .project-details .right li {
    font-size: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #b4b3b3;
    color: #ddd;
    list-style-type: none;
}
.research_details .project-details .right li strong {
    width: 40%;
    font-weight: bold;
    display: inline-block
}
.research_details .project-details .right li:last-child {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.research_details .project-details .right .color {
    color: #fedabf;
}
#slider {
    height: 522px!important;
    width: 100%;
}
.research_details .unit {
    font-size: 14px;
}
.research_details .unit td {
    padding: 15px 20px;
}
.research_details .unit .dark {
    background-color: #f5f0ff;
}
.research_details .unit .light {
    background-color: #fff5f0;
}
.research_details .box {
    padding: 45px 20px;
    background: #fafafa;
    text-align: center;
}
.research_details .box p {
    margin-bottom: 20px;
}
.research_details .box ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-top: 8px;
}
.research_details .box ul li {
    margin: 0px;
    list-style-type: none;
    display: inline-block;
}
.research_details .box a {
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
}
.research_details .box .buy-now {
    background: #d62540;
}
.research_details .box .contact {
    background: #3a93c1;
}
.research_details .box .sample-report {
    background: #469237;
    min-width: 272px;
}
/*********************Buy Services ( Pricing ) ***************************/

.buy-services-list {} .buy-services-list .pic {
    float: left;
    margin-right: 20px;
}
.buy-services-list .content {} .buy-services-list ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.buy-services-list ul li {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 20px;
    background: url(/webroot/css/home/images/icon/list-icon.png) no-repeat 0px 5px;
}
.buy-services-list .link {
    text-align: inherit;
}
.buy-services-list .link a {
    margin: 0px;
    margin-top: 20px;
}
.center-align {
    text-align: center;
}
h4 strong {
    color: #d62540;
}
h4 span {
    font-size: 20px;
}
/*********************Search Page***************************/
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
	color: #ffc000;
}
.selected{
	background: #f5f5f5;
}
.side-filter .filter-title {
    background: #fbf2d4;
}
.top-search {
    background: #3c5064;
    margin-top: 55px;
    position: fixed;
    width: 100%;
    z-index: 9;
	padding: 15px 0 10px;
}
.top-search .search-form {
    background: #3c5064;
    padding: 15px;
    max-width: 750px;
    margin: 0px auto;
}
.top-search .search-form li {
    display: inline-flex;
}
.top-search .search-form li input,
select,
buttton {
    width: 100% !important;
    margin: 0px;
    padding: 5px 8px;
}
.top-search .search-form .property {
    width: 10%;
}
.top-search .search-form .property-type {
    font-size: 14px;
    line-height: 35px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    width: 30%;
    position: relative;
    top: 1px;
    cursor: default;
    background: url(/webroot/css/home/images/icon/select-drop-arrow.gif) #fff no-repeat 97% 15px;
}
.top-search .search-form .property-type .select-property-type {
    padding: 0 10px;
    display: block;
    width: 100%;
}
.top-search .search-form .property-checklist {
    padding: 5px;
    background: #fff;
    display: none;
    position: absolute;
    top: 33px;
    left: 0px;
    width: 100%;
    z-index: 9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
}
.top-search .search-form .property-checklist input {
    width: auto !important;
    height: auto;
    margin: 5px;
}
.top-search .search-form .property-checklist .divCheckboxItem {
    line-height: 24px;
    display: block;
}
.top-search .search-form .property-checklist #divCheckAll1,
#divCheckAll2 {
    display: inline-block;
    line-height: 24px;
}
.top-search .search-form .property-checklist #divCheckboxList1 {
    margin-bottom: 5px;
}
.top-search .search-form .property-checklist #divCheckboxList1,
#divCheckboxList2 {
    margin-top: -5px;
    margin-left: 10px;
}
.property-info {
    padding: 5px 10px 0;
}
.top-search .search-form .property-details {
    width: 40%;
}
.top-search .search-form .property-button {
    width: 10%;
}
.top-search .search-form .property-button button {
    background: #d62540;
    color: #ffffff;
    border: none;
    height: 35px;
    padding: 0px 30px;
    border-radius: 3px;
}
.top-search .search-form .property-button button:hover {
    background: #ffc000;
    color: #000;
}
.property-listing .search-box:first-child {
    margin: 0px;
}
.search .search-box {
    margin: 20px 0px;
    color: #323232;
	box-shadow: 0px 0px 1px #ccc;
	-webkit-box-shadow: 0px 0px 1px #ccc;
	-moz-box-shadow: 0px 0px 1px #ccc;
	-o-box-shadow: 0px 0px 1px #ccc;
	-ms-box-shadow: 0px 0px 1px #ccc;
}
.search .search-box .picture {
    padding-left: 0px;
}

.search .search-box .right {
    padding: 15px;
}
.search .search-box .heading {
    font-size: 16px;
    font-weight: bold
}
.search .search-box .location {
    font-size: 14px;
    padding-left: 25px;
    background: url(images/icon/location.gif) no-repeat 0px 4px;
    padding-left: 20px;
}
.search .search-box .price {
    font-size: 22px;
    color: #000000;
    text-align: left;
    padding-left: 30px;
    background: url(images/icon/rupees.gif) no-repeat 10px
}
.search .search-box .price span {
    font-size: 16px;
    color: #d62540;
    font-weight: bold;
}

.search .search-box .list li {
    font-size: 13px;
    line-height: inherit;
    padding: 3px 0px
}
.search .search-box .list li strong {
    display: inline-block;
    width: 45%;
}
.search .search-box .discription {
    font-size: 12px;
    line-height: 16px;
}
.search .search-box .discription span {
    text-decoration: none;
    color: #d62540;
    display: block
}
.search .search-box button {
    border: 1px solid #d62540;
    padding: 7px 20px;
    border-radius: 5px;
    color: #d62540;
    background: #fff;
}
.search .search-box button:hover {
    background: #ffc000;
    color: #000;
}
.search .search-box .button1 {
    background: #d62540;
    color: #ffffff;
}
.search .search-box .post {
    color: #787878;
    font-size: 12px;
}
.search .search-box .property-checklist {
    z-index: 9999;
}
.disclaimer {
    color: #666;
    font-size: 12px;
    padding-top: 20px;
}
.disclaimer strong {
    color: #ccc;
}
.form .form-list {
    margin-top: 20px;
}
.form label {
    width: 100%;
    max-width: 130px;
    font-weight: 600;
}
.form input,
textarea {
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.form #file {
    border: none;
    margin-top: 5px;
    display: inline-block
}
.form button {
    border: 0px;
    background: #d62540;
    padding: 10px 70px;
    border-radius: 5px;
    color: #fff;
}
.form button:hover {
    background: #ffc000;
    color: #000;
}

.feedback li {
    list-style-type: none;
    width: 33%;
    margin: 1%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.accordion-toggle {
    cursor: pointer;
    margin: 0;
    background: #fbf2d4;
    font-weight: bold;
    font-size: 18px;
    margin: 2px 0px;
    border-radius: 5px;
    padding: 10px;
}
.accordion-content {
    display: none;
    padding-left: 10px;
}
.accordion-content h4 {
    font-size: 18px;
}
.accordion-content ul li {
    list-style-type: none;
    margin-top: 30px;
}
.accordion-content ul li:last-child {
    margin-bottom: 30px;
}
.accordion-content.default {
    display: block;
}
.myaccountbtn .btn-default:hover, .myaccountbtn .btn-default:focus, .myaccountbtn .btn-default.focus, .myaccountbtn .btn-default:active, .myaccountbtn .btn-default.active, .myaccountbtn .open>.dropdown-toggle.btn-default{
	background:none !important;
}

a.list-group-item {
    color: #fff;
}
.in .list-group-item {
    color: #454545;
	box-shadow:0 0 1px #ddd;
	-webkit-box-shadow:0 0 1px #ddd;
	-moz-box-shadow:0 0 1px #ddd;
}
.list-group-item-success {
    color: #ffffff;
    background-color: #202830;
}
.list-group-item{
	border:none;
	box-shadow:0 0 1px #ddd;
	-webkit-box-shadow:0 0 1px #ddd;
	-moz-box-shadow:0 0 1px #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #ffffff;
    background-color: #cb9724;
}
a.list-group-item-success.active, a.list-group-item-success.active:hover, a.list-group-item-success.active:focus {
    color: #fff;
    background-color: #ffc000;
    border-color: #ffc000;
}
.drawer-nav i.fa.fa-caret-down {
    float: right;
}
.calculator, .rentvbuy {
    background: #f7f7f7;
}

.locationbtn .btn-default:hover, .locationbtn .btn-default:focus, .locationbtn .btn-default.focus, .locationbtn .btn-default:active, .locationbtn .btn-default.active, .locationbtn .open>.dropdown-toggle.btn-default{
	background:none !important;
	color: #fff;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: 0 !important;
}
.mobilesearch {
    padding-top: 16px;
}
a.btn-searchform {
    color: #fff;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.drawer-overlay .loader {
	top: 30%;
	left:0;
	right:0%;
	position: absolute;
	color: #fff;
}
	.drawer-overlay .loader h3{
		color:#fff;
	}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


@media only screen and (max-width: 1199px) {
    .home #searchBox1 {
        margin-top: 0px;
    }
    .header-pic {
        position: relative;
        top: 30px;
        left: 0px;
        float: left;
    }
    .research_details iframe {
        margin-top: 10px;
    }
    .banner {
		position: absolute;
		top: -37px;
		right: 35px;
		width: 450px;
	}
}
@media (max-width: 1024px){
    .search-left{
        padding-top: 2rem;
    }
	.slider{
		width:100%;
	}
	.banner {
		position: absolute;
		top: -37px;
		right: 35px;
		width: 450px;
	}
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
        min-width:100%;
	}
}
@media only screen and (max-width: 991px) {
    .property-management .row .col-lg-6 {
        padding: 20px;
        text-align: center;
    }
    .property-management .row > div .heading {
        display: inline-block;
    }
    .property-management .row > div .heading {
        display: inline-block;
    }
    .property-management .row > div .heading img {
        float: none;
        margin: 0px;
    }
    .property-management .row > div .heading h3 {
        float: none;
        margin-top: 10px;
        display: block;
        padding-top: 0px;
    }
    .property-management .row ul li strong {
        font-size: 16px;
    }
    .portfolio-management .steps h2 {
        margin-bottom: 0px;
    }
    .portfolio-management .steps .col-md-6 {
        margin-top: 50px;
    }
    .process ul {
        display: inline-block;
		width:75%;
    }
    .process li {
        display: block;
    }
    .buy-services .buy-services-list:first-child {
        margin-bottom: 50px;
    }
    .banner {
		position: absolute;
		top: -37px;
		right: 35px;
		width: 450px;
	}  
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
        min-width:100%;
	}
}

@media (max-width: 768px){
    .search-left{
        padding-top: 0rem;
    }
    .banner{
        padding-top:8rem;
    }
	.slider{
		width:100%;
	}
	.hidden-sm{
		display:none;
	}
	.propert-detail .sticky {
		position: fixed;
		z-index: 6;
		width: 240px !important;
		right: 3px;
	}
	.banner {
		position: absolute;
		top: 0px;
		right: 35px;
		width: 350px;
	}
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
		min-width:100%;
	}
}

@media (min-width: 768px){
	#contact-biulder .modal-dialog {
		width:320px;
		margin:auto;
	}
	.modal-dialog{
		margin:10px auto;
	}
}

@media (max-width: 767px) {
    .search-form .form-group {
        padding-right: 15px;
    }
    .navbar-right {
        margin-right:0px !important;
    }
     .align-right{
        float:none;
    }
    .banner{
        padding-top:2rem !important;
    }
    .modal-dialog {
        margin: 125px 20px;
    }
	.fairpocket li{
		margin:5px 0;
	}
	.container {
		width: 100%;
	}
	.slider{width:100% !important;}
	#content {
		padding-top: 91px;
	}
	.drawer-nav{
		top:91px;
	}
	.locationbtn{
		margin-right: 5px;
		padding-top:8px;
	}
	.locationbtn{
		margin-left: -10px;
        line-height: normal;
	}
	.slider{
		width:100%;
	}
	.top-search{
		    margin-top: 99px;
	}
	.search-form .form-group,.search .form-group{
		padding-right:15px;
	}
	.picture{
		padding:0;
	}
	.sidebar-inner{
		margin-top:30px;
	}
	.propert-detail .sticky {
		position: relative;
		z-index: 6;
		width: auto !important;
		right: 0;
	}
	.banner {
		position: relative;
		top: 15px;
		right: 0;
		width: auto;
	}
	.detail-amenities .list-amenities li{
		width:100%;
	}
	.align-right{
        float:none;
    }
    .property-info {
		font-size: 13px;
	}
	.search-form .form-group, .search .form-group{
		padding-right: auto;
		margin-right: auto;
	}
	.owl-carousel,.recent-properties, .space-m, .detail_header {
		padding: 0;
	}
	.breadcrumb{
		margin:0;
	}
	.detail_header .offer_price .prooffer{
		font-size:14px;
	}
	.detail_header .offer_price{
		font-size:18px;
	}
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
		min-width:100%;
	}
	#illustrate .table-responsive{
		font-size:.95rem;
	}
	#build .table-responsive{
        font-size:1.2rem;
	}
}

@media only screen and (max-width: 480px) {
    .buy-services-list .content {
        text-align: center;
        width: 100%;
    }
    .buy-services-list .pic {
        width: 100%;
        text-align: center;
    }
    .buy-services-list .link {
        text-align: center;
    }
    .search-form .form-group{
        padding-right:15px;
    }
    .search-left{
        padding-top: 0rem !important;
    }
    .align-right{
        float:none;
    }
	.fairpocket li{
		margin:5px 0;
	}
	.container {
		width: 100%;
	}
	#content {
		padding-top: 85px;
	}
	.slider{
		width:100% !important;
	}
	.drawer-nav{
		top:91px;
	}
	.locationbtn{
		margin-right: 5px;
		padding-top:8px;
	}
	.space-xxl{
		padding-top:0;
	}
	.space-l{
		padding-top:15px;
	}
	.space-xl{
		padding-top:40px;
	}
	.research-reports-top .reports li{
		width:100%;
	}
	.banner {
		position: relative;
		top: 15px;
		right: 0;
		width: auto;
	}
	.detail-amenities .list-amenities li{
		width:100%;
	}
	.property-info {
		font-size: 13px;
	}
	.search-form .form-group, .search .form-group{
		padding-right: auto;
		margin-right: auto;
	}
	.owl-carousel,.recent-properties, .space-m, .detail_header {
		padding: 0;
	}
	.breadcrumb{
		margin:0;
	}
	.detail_header .offer_price .prooffer{
		font-size:14px;
	}
	.detail_header .offer_price{
		font-size:18px;
	}
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
		min-width:100%;
	}
}
@media (max-width: 1024px){
    .search-left{
        padding-top: 2rem;
	}
    .banner{
        padding-top:2rem;
    }
    .modal-dialog {
        margin: 125px 20px;
    }
	.fairpocket li{
		margin:5px 0;
	}
	.container {
		width: 100%;
	}
	#content {
		padding-top: 85px;
	}
	.slider{
		width:100% !important;
	}
	.drawer-nav{
		top:91px;
	}
	.locationbtn{
		margin-right: 5px;
		padding-top:8px;
	}
	.space-xxl{
		padding-top:0;
	}
	.space-l{
		padding-top:15px;
	}
	.space-xl{
		padding-top:40px;
	}
	.research-reports-top .reports li{
		width:100%;
	}
	.banner {
		position: relative;
		top: 15px;
		right: 0;
		width: auto;
	}
	.detail-amenities .list-amenities li{
		width:100%;
	}
	.property-info {
		font-size: 13px;
	}
	.search-form .form-group, .search .form-group{
		padding-right: auto;
		margin-right: auto;
	}
	.owl-carousel,.recent-properties, .space-m, .detail_header {
		padding: 0;
	}
	.breadcrumb{
		margin:0;
	}
	.detail_header .offer_price .prooffer{
		font-size:14px;
	}
	.detail_header .offer_price{
		font-size:18px;
	}
	.loginsidediv{
		padding: 10px;
	}
	.property-type .bootstrap-select.btn-group .dropdown-menu {
        min-width:100%;
	}
	#illustrate .table-responsive{
        font-size:.95rem;
	}
	#build .table-responsive{
        font-size:1.2rem;
	}
}
