
.owl-carousel {
  display: none;
  position: relative;
  -ms-touch-action: pan-y;
}

.owl-nav .owl-next {
  right: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  margin: -30px 0 0 0;
  background: rgb(255, 191, 28);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius:50%;
}
.owl-nav .owl-prev {
  left: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  margin: -30px 0 0 0;
  background: rgb(255, 191, 28);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius:50%;
}

.owl-carousel.owl-slider[data-nav="top-right"] .owl-buttons div.owl-next {
  right: 15px;
}
.owl-carousel.owl-slider[data-nav="top-right"] .owl-buttons div.owl-prev {
  left: auto;
  right: 50px;
}
.owl-item {
  padding: 0;
}

.owl-carousel .owl-item {
  float: left;
  padding: 0;
}
.owl-carousel .owl-item.loading {
  min-height: 150px;
  background: url("AjaxLoader.gif") no-repeat center center;
}
.owl-carousel .owl-item .owl-caption {
  position: absolute;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  padding: 10px 15px;
  color: #fff;
  width: 50%;
}

.owl-nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.01);
  text-align: center;
}
.owl-nav .owl-pagination {
  margin-top: 10px;
}
.owl-nav .owl-page,
.owl-nav {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.owl-nav .owl-page:hover,
.owl-nav:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-decoration: none;
}
.owl-nav .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-nav .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #2a8fbd;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.owl-nav .owl-page.active span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-nav.clickable .owl-page:hover span {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-nav span.owl-numbers {
  height: auto;
  width: auto;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.owl-nav:hover {
  background: #2a8fbd;
  -webkit-box-shadow: 0 0 0 1px #2a8fbd;
  box-shadow: 0 0 0 1px #2a8fbd;
}
.owl-nav:before {
  font-family: 'FontAwesome';
}

.owl-nav .owl-next:before {
  content: '\f105';
  font-family: 'FontAwesome';
}

.owl-nav .owl-prev:before {
  content: '\f104';
  font-family: 'FontAwesome';
}

