<div class="container">
	<div class="space-l"></div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header"> Project </h1>
		</div>
	</div>
	<div id="build" class="list-detail alert alert-success">
		<?php
			if ($type == '1') {
				echo "Your Past Project has been submitted sucessfully";
			}
			if ($type == '2') {
				echo "Your Current Project has been submitted sucessfully";
			}
			if ($type == '3') {
				echo "Your Current Project has been Updated sucessfully";
			}
			if ($type == '4') {
				echo "Your Past Project has been Updated sucessfully";
			}
		?>
	</div>
	<div class="space-l"></div>
</div>
