<div class="account-block">
	<?php echo $mess ;?><?php echo $mess2 ;?>
	<div class="row">
		<div class="col-sm-12"><label class="label_title" style="font-weight:bold;">Select Area</label></div><br>
		 <div class="form-group col-md-4 col-sm-4 property-type">
		 <input type="hidden" name="invIdsArrJson" value='<?php echo $invIdsArrJson; ?>'>
			<table id="sales_list" class="table table-striped table-bordered" style="width:100%">                
				<tbody>
					<?php  if (!empty($invArea)) {
						for ($i = 0; $i < count($invArea); $i++) {
					?>
					<?php echo $i % 4 == 0 ? "<tr>\n" : ""; ?>
						<td>
							<input type="checkbox" name="check_list_area[<?php echo $i; ?>]" 
								id="check_list[<?php echo $invArea[$i]['Inventory_propertie']['flat_area'].$i; ?>]" value="<?php echo $invArea[$i]['Inventory_propertie']['flat_area']; ?>" class="checkbox-custom">
	   
								<label for="check_list[<?php echo $invArea[$i]['Inventory_propertie']['flat_area'].$i; ?>]" class="checkbox-custom-label"><?php echo $invArea[$i]['Inventory_propertie']['flat_area']; ?></label>
						</td>
						<?php echo $i % 4 == 3 ? "</tr>\n" : ""; ?>
						<?php }}else{ ?>
					<tr>
						<td colspan="4" style="text-align:center;">
							No Area Available.</a>
						</td>
					</tr>
					<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
	
	
		
	<div class="add-tab-row  push-padding-bottom">
			<div class="account-block text-center submit_area">
			<button type="submit" class="btn btn-primary btn-next " id="next13">Next</button>
			</div>
	</div>
</div>