<div class="page-content">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header"> Assisted Buy / Rent </h1>
		</div>
		<!--/.col-lg-12 -->
	</div>
	<div id="build" class="list-detail">
		<div class="block-inner-link alert alert-success">
				<?php
				if (!empty($edit)) {

					if ($edit == '3') {
						echo "Property is deactivated Sucessfully";
					} else if ($edit == '2') {
						echo "Property is activated Sucessfully";
					} else if ($edit == '4') {
						echo "Property has been Refresh Sucessfully";
					} else {
						echo "Your Property has been Updated sucessfully";
					}
				} else {
					echo "Service  submitted sucessfully";
				}
				?>	
		</div>
	</div>
   <div class="clear"></div>
</div>
