<?php

//echo "<pre>ghfgghf";print_r($alltower);die();

?>
<style>
.checkboxjustify{
	text-align:justify !important;
}
</style>

			<div class="account-block">
                    <div class="add-tab-content detail-block" style="display:block;">
                        <div class="add-tab-row push-padding-bottom">
                            <div class="row">
                                

<table id="sales_list" class="table table-striped table-bordered" style="width:100%">
                
                <tbody>
                    <?php  if (!empty($alltower)) {
                        for ($i = 0; $i < count($alltower); $i++) {
                    ?>
                    <?php echo $i % 4 == 0 ? "<tr>\n" : ""; ?>
                        <td>
						
							
		<input type="checkbox" name="check_list[<?php echo $i; ?>]" id="check_list[<?php echo $i; ?>]" value="<?php echo $alltower[$i]['Inventorie']['id'] ?>" class="checkbox-custom">
       		

       <label for="check_list[<?php echo $i; ?>]" class="checkbox-custom-label"><?php echo $alltower[$i]['Inventorie']['tower_name'] ?></label>
							</td>
                   <?php echo $i % 4 == 3 ? "</tr>\n" : ""; ?>
					<?php }}else{ ?>
					<tr>
                        <td colspan="4" style="text-align:center;">
							No User available, please add sales employees. <a href="/accounts/add_sales_employees1">Click Here</a>
						</td>
					</tr>
					<?php } ?>
                </tbody>
            </table>							
                            
								
								
					
								
                            </div>
                        </div>

                        <div class="add-tab-row  push-padding-bottom">
						                        
                            
                            <div class="account-block text-center submit_area">
                                <button type="submit" class="btn btn-primary btn-next " id="next11">NEXT</button>
                            </div>
                        </div>

                    </div>
                </div>