<?php

//echo "<pre>ghfgghf";print_r($alltower);die();

?>

			<div class="account-block">
                    <div class="add-tab-content detail-block" style="display:block;">
                        <div class="add-tab-row push-padding-bottom">
                            <div class="row">
                                              
                            
								
								<div class="form-group col-md-4 col-sm-4 property-type">
						<?php 
							$options = array(
							
									'1' 				=> 'Tower A',
									'2' 			=> 'Tower B',
									'3' 			=> 'Tower C',
									'4' => 'Tower D',
									'5' 		=> 'Tower E',
									'6' 		=> 'Tower F',
									'7'				=> 'Tower G'
								
							);
							echo $this->Form->input('wing', array(
							'options' => $allwing, 
							'default' => $property_type_default, 
							'class' => 'selectpicker show-tick checkincolumn', 
							'label' => false, 
							'div' => false, 
							'id' =>'inputpropertytype', 
							'multiple'=>'checkbox'
							));
						?>
					</div>
					
								
                            </div>
                        </div>

                        <div class="add-tab-row  push-padding-bottom">
						                        
                            
                            <div class="account-block text-center submit_area">
                                <button type="submit" class="btn btn-primary btn-next " id="next12">NEXT</button>
                            </div>
                        </div>

                    </div>
                </div>