	<div class="account-block">
			<div class="add-tab-content detail-block" style="display:block;">
				<?php echo $mess ;?>
				<?php echo $mess2 ;?>
				<div class="add-tab-row push-padding-bottom">
						<div class="row">
								 <div class="form-group col-md-4 col-sm-4 property-type">
										<table id="sales_list" class="table table-striped table-bordered" style="width:100%">
                
                <tbody>
                    <?php  if (!empty($allwing)) {
                        for ($i = 0; $i < count($allwing); $i++) {
                    ?>
                    <?php echo $i % 4 == 0 ? "<tr>\n" : ""; ?>
                        <td>
						
							
		<input type="checkbox" name="check_list[<?php echo $i; ?>]" 
		id="check_list[<?php echo $allwing[$i]['Inventorie']['wing'].$i; ?>]" value="<?php echo $allwing[$i]['Inventorie']['id'] ?>" class="checkbox-custom">
       
       <label for="check_list[<?php echo $allwing[$i]['Inventorie']['wing'].$i; ?>]" class="checkbox-custom-label"><?php echo $allwing[$i]['Inventorie']['wing'] ?></label>
							</td>
                   <?php echo $i % 4 == 3 ? "</tr>\n" : ""; ?>
					<?php }}else{ ?>
					<tr>
                        <td colspan="4" style="text-align:center;">
							No User available, please add sales employees.</a>
						</td>
					</tr>
					<?php } ?>
                </tbody>
            </table>
								</div>
						
								<div class="row">
										 <div class="form-group " >
											<?php 
												$options = array('5' => 'Total','1' => 'Available', '2' => 'Not Available','3' =>'On-Hold', '4' => 'Internal hold');
												echo $this->Form->input('status', array(
												'options' => $options, 
												'default' => $property_type_default, 
												'class' => 'selectpicker show-tick checkbox-custom-label', 
												'label' => false, 
												'div' => false, 
												'id' =>'statustypes', 
												'multiple'=>'checkbox'
												));
												
												//echo $this->Form->select('Model.field', $options, array('multiple' => 'checkbox','id' =>'statustypes'));
											?>
										</div>
								</div>
						
						</div>
				</div>
					
						<div class="add-tab-row  push-padding-bottom">
								<div class="account-block text-center submit_area">
								<button type="submit" class="btn btn-primary btn-next " id="next12">Submit</button>
								</div>
						</div>
			</div>
	</div>