<div style="padding:10px 0 385px 0;">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Congratulations </h1>
			<h3>You have successfully verified your email address.</h3>
			<p>Please Login using the Login Button on the top of the page</p>
			<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="button btn btn-primary">Login Now</a>
	</div>
</div>  
</div>
</div>