

<?php

//echo _ROOT_PATH.'<br>';
echo _ROOT_BASE_PATH.'<br>';
echo _HTTP_PATH.'<br>';
//echo _escape('https://www.fairpockets.com/files/logos.jpg');

$path = 'https://www.fairpockets.com/files/logos.jpg';


?>
<img src="/css/home/images/icon/transparent-pricing.png" alt="Transparent Pricing">
<img src="/css/home/images/search.png" class="img-responsive" alt="Services">

<?php


 ?>