<section class="tac">
    <div class="space-x"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Terms & Conditions</h1>
				<h3>About Fair Pockets Terms of Service</h3>
				<p>Your use of any of the products or services including but not limited to Internet websites, applications (apps) or other product services (collectively, the "Services") offered by the Chilin Prop Pvt. Ltd., an existing Company under the Companies Act, 2013 and having its office at C-66, Basement, Sector-2, Noida-201301, U.P., India (“the Company”) or its website on <a href="/">www.fairpockets.com</a> (“Website” or “Site”) (Company and Website together referred to as “We” or “us”) is subject to these Terms of Service ("Terms").</p>
				<p>Please read the terms below fully and carefully. By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any of these terms and conditions, you may opt out from accessing or using the Website. We may modify these Terms at any time without notice to you by posting revised Terms on our sites. Your continued use of our site constitutes your binding acceptance of these Terms, including to any modifications that we make.</p>
				<p>Some of the Services may be subject to additional conditions which may be posted separately. Your use of those Services is subject to those conditions, which are incorporated into these Terms by reference. In the event of an inconsistency between these Terms and any additional posted conditions, which are specific to a product or Website Service(s) and are posted alongside the Service(s) whenever required, the provisions of the additional conditions shall control.</p>
				<h3>Website Services License Grant</h3>
				<p>Subject to the terms and conditions of these Terms of Service, payment terms and except as otherwise expressly set forth in these Terms of service, Website grants user (refer “customer” or “you” or “your”) a worldwide, non-exclusive, non-transferable, non-sub-licensable right and license to download, access, and use the Website services solely for your personal use.</p>
				<h3>Description of Applications (apps)</h3>
				<p>Mobile apps are small software modules operating within a smart phone operating system environment, such as Android, iPhone, Windows etc. and appearing on your mobile device that provide you with access to a variety of content and services. Some mobile apps, including the content and services provided therein, maybe made available for your use by Website (refer “Website Services”) subject to these Terms of Service. You will be able to recognize Website apps or Services by their distinctive Website branding. Other mobile apps, including the content and services provided therein, may be made available for your use by third parties (each a “Third Party Service(s)”). Your use of Third Party Services and Website’s disclaimer of responsibility for such apps or Services are discussed in these Terms.</p>
				<h3>Website Services Restrictions</h3>
				<p>You may not do any of the following with any Website Services: (a) decompile, reverse engineer, disassemble, modify, rent, lease, loan, distribute, or create derivative works or improvements from Website Services or any portion thereof, or attempt to discover any source code, protocols, or other trade secrets in Website Services; (b) obtain or attempt to obtain unauthorized access to the Website network; (c) incorporate Website Services into any hardware or software device that is not your personal mobile device; (d) use, export, or re-export Website Services in violation of applicable laws or regulations; (e) sell, lease, loan, distribute, transfer, or sub-license Website Services or access thereto or derive income from the use or provision thereof, whether for direct commercial or monetary gain or otherwise, without Website’s prior, express, written permission; (f) use Website Services in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms of Service; and (g) use Website Services for any enterprise, commercial, or human safety purposes as the Website Services were not designed for such purposes. </p>
				<p>You understand and agree that our Services may include communications such as service announcements and administrative messages from us or from our Associates and that these communications are considered part of the Services. You may not be able to opt out of receiving all these messages. You also understand that our Services may include advertisements.</p>
				<h3>Content on Our Sites</h3>
				<p>Our sites include a combination of content that we create, that our affiliates, advertisers, promoters, third party providers (collectively “Associates”) create and that our users create. All materials published on our sites, including, but not limited to, written content, photographs, graphics, images, illustrations, marks, logos, sound or video clips and flash animations, are protected by our copyrights or trademarks or those of our Associates. You may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works of, distribute, publicly perform, publicly display or in any way exploit any of the materials or contents of our sites in whole or in part. If you would like to request permission to use any of the content on our sites, please contact us.</p>
				<p>The functionality of the Website, Services and Third Party services is dependent upon you having a suitable network connection and the settings you have selected (for example, how frequently the content available from the service is refreshed).  You understand that the information, content or services you obtain or utilize using our Website services may be based upon our research and analysis which may be created from information gathered from external or public sources and/or be provided by our Associates directly or indirectly which may not always be accurate, complete or up to date. The same is provided to you on best effort basis, however, we do not guarantee the accuracy, integrity or quality of the same and your reliance upon the same is solely at your risk and discretion.
				</p>
				<p>You understand that your reliance on any of the content, including, but not limited to, research reports, recommendations, market price, offer price, fair office price, product reviews, user views, analysis, interpretation, white papers, product descriptions and stock quotes, etc. is at your own discretion and risk. Without limitation, we are not responsible for postings by users in the postings, details, user opinion and message board or feedback sections etc. of our sites. Our sites also contain information about products and services offered by third parties, including product specifications, pricing, availability, performance and editorial commentary. You may be exposed to content that you find offensive, indecent, objectionable or that is inaccurate and you bear all risks associated with using that content. We have the right, but not the obligation, to take any of the following actions in our sole discretion at any time and for any reason without giving you any prior notice:</p>
				<ol>
					<li>Restrict, suspend or terminate your access to all or any part of our Services.</li>
					<li>Change, suspend or discontinue all or any part of our Services.</li>
					<li>Refuse, move or remove any material that you submit to our sites for any reason.</li>
					<li>Refuse, move, amend or remove any content that is available on our sites.</li>
					<li>Deactivate or delete your accounts and all related information and files in your account</li>
					<li>Establish general practices and limits concerning use of our sites.</li>
				</ol>
				<p>You agree that we will not be liable to you or any third party for taking any of these actions.</p>
				<h3>Your Use of Third Party Sites</h3>
				<p>The Website may contain links to other Internet sites owned by third parties. Your use of each of those sites is subject to the conditions, if any, that each of those sites have posted or may impose from time to time. We have no control over sites that are not ours and we are not responsible for any changes to or content on them. Any inclusion on our sites of any third party content or a link to a third party site is not an endorsement of that content or third party site.</p>
				<p>Your correspondence or related activities with third parties, including payment transactions and goods delivery transactions, are solely between you and that third party. You agree that we will not be responsible or liable for any loss or damage of any sort incurred as the result of any of your transactions with third parties. Any questions, complaints or claims related to any product or service should be directed to the appropriate vendor.
				</p>
				<p>Except where expressly provided otherwise by Website, nothing on the Website or within the Service shall be construed to confer any license or ownership right in or to the Content, under any of Website intellectual property rights, whether by estoppel, implication, or otherwise. You acknowledge sole responsibility for obtaining any such licenses. Content provided by Third Party Providers has not been independently reviewed, tested, certified, or authenticated in whole or in part by Website. Website does not provide, sell, license, or lease any of the Content or services other than those specifically identified as being provided by Website.</p>
				<p>Any unauthorized use of Website Services contained on the Website or in the Service may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or communications regulations and statutes. It is your obligation to comply with all applicable local, state, central and international laws, treaties, regulations and conventions in connection with your use of the Website Services, including without limitation those related to data privacy, international communications, and the exportation of technical or personal data from locations other than the location from which you or Website are located. You are responsible for maintaining the confidentiality of your account information and password and for restricting access to such information and to your mobile device or computer. Furthermore, you expressly agree not to violate any rights of publicity or privacy of any person. You agree to accept responsibility for all activities that occur using your account or password.</p>
				<h3>Screening and listing process</h3>
				<p>Any listing request made on the Website is subject to screening and clearance of various approval processes adopted by the Company from time to time. One such process includes, our fair price process wherein your Offer Price (Fair Offer Price) cannot be higher than Market Price prevalent in the areas (as may be determined and verified by us from time to time). In case we find that the Market Price mentioned is different than the valuation and assessment done by Company, we reserve our right to alter/ amend/ change the offer or market price accordingly with an intimation to you. You may opt to re-change the same for further review by us or not to carry forward the post on such price at all.</p>
				<h3>Billing and Fee-Based Services</h3>
				<p>Some of the Services require you to pay a fee, as described in the specific conditions included where those Services are offered. You agree to pay all fees and charges that you incur as specified by us in advance for Website Services. Unless otherwise noted, all currency references are in Indian Rupees. We may, upon notice if required by applicable laws, at any time change the amount of, or basis for determining, any fee or charge, or institute new fees or charges. All fees and charges are payable in accordance with payment terms in effect at the time the fee or charge becomes payable.</p>
				<p>Your correspondence or business dealings with, or participation in promotions of, advertisers or other third parties found on or through the Website or Service, including payment and delivery of goods or services, and other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. You agree that we shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such advertisers on the Website.</p>
				<p>While certain aspects of the Service and use of the Website are currently free, Website reserves the right to charge for said use of the Website and/or the Service in the future. To the extent you make any purchases from Website, you agree to pay for all purchases. Website reserves the right to change the price or subscription fees any time, it may deem fit to the market needs or internal requirements. In order to continue using the Services you agree to pay the difference, if any that may arise from such change.</p>
				<p>Where any Fees for any of the Services accrues, it shall be payable at or within such time as stated in the invoice(s) issued by the Company to the User. In case the user disputes the same for any reason whatsoever, s/he shall make the payment towards the Fees accrued subject to the decision of the Company on the dispute. In the event of Company’s deciding the dispute in the User’s favour, the Company shall refund to the User any excess amount paid by the User free of interest. Any delay in the payment by the User of any sums due under this Agreement, the Company shall have the right to charge interest on the outstanding amount from the date the payment became due until the date of final payment by the User.</p>
				<p>You also agree that there is a strict no refund policy for the Website Services.  Payment for service once subscribed to by the subscriber, is not refundable and any amount paid shall stand appropriated. Refunds, if any, including in the event of wrong/objectionable property content being posted on the site, will be at the sole discretion of Company only.</p>
				<p>Company uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands. For completing online transactions involving payments a user is directed to a Payment Gateway. The Company does not store or keep your credit card data and the transaction happens on a third-party network not controlled by Company. Company shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise.</p>
				<p>You will provide Website with valid and updated credit/debit card or approved purchase order information and with complete and accurate billing and contact information. If you provide credit/debit card information to Website, you authorize us, or a card processor of our choice, to bill such credit/debit card for Services used or created using the Website Services. If Website, in its sole and absolute discretion, permits you to make payment using a method other than pre-paying with a credit/debit card, Website will invoice you at, or within a reasonable period of, the time of the purchase request. All amounts invoiced hereunder shall be due immediately upon receipt of the invoice, unless stated otherwise on said invoice. This includes, invoices for any premium/paid services, brokerage fee and other charges, wherein the Company may agree/ or had agreed to receive the payment or part thereof upon completion of a certain defined timeline or target. </p>
				<p>Payment towards an invoice generated by Website for any Website Services is due within a specified period as communicated on the invoice. After expiry of such payment date late payment, interest or other charges will be applicable upon the invoice amount and the Website further reserves the right to send reminder mails, calls, follow up, notices and/or to take any other appropriate actions including legal action. The Website at its sole discretion may also extend the time period for making such payment or to waive of any charges. Henceforth the payment, including late charges, has to be made within the specified extended date, after which the Website Services would be discontinued and cancellation charges would apply. However, if you still want to continue with the Service, please speak to our customer care for explaining the cause of delay in payment and restore Website Services after paying the dues as directed by them. </p>
				<h3>Service Development</h3>
				<p>For specific Services, which are developed on demand, different phases may exist and can be charged separately. Pertinent to some cases, a cooling off phase is also provided where you can get out of a contract without any cancellation charges and return the Service, though we may discuss and be satisfied with the differences between specified requirements and the developed Service. It is to be understood that the Website services or applications may be updated from time to time and as a result of such updates, previous information, listings, updates, pricing etc. will be deleted and no longer used. No claim could arise from deletion of such old versions or information. </p>
				<h3>Privacy Policy</h3>
				<p>All of the information that we collect from you, such as registration and credit card information, is subject to our privacy policy. Please click here  to see our full <a href="/privacy-policy">privacy policy</a></p>
				<h3>Return and Refund Policy Including Transaction Cancellation</h3>
				<p>The return and refund policy, including the transaction cancellation policy is dependent on the commitment made by the customer. Note commitment is deemed to be made when Website raises an invoice. Once an invoice is raised, it can only be cancelled by a duly authorized Credit Note within the terms and conditions of the cancellation policy. </p>
				<h3>Delivery Times for Services</h3>
				<p>A written confirmation, e-mail, website selection or online acceptance is generally considered to be confirmation of a customer's participation and will be invoiced accordingly. </p>
				<h3>Your Conduct on Our Sites</h3>
				<p>If we request registration information from you, you will provide us with true, accurate, current and complete information. You will promptly update your registration to keep it accurate, current and complete. If we issue you a password, you may not reveal it to anyone else. You may not use anyone else's password. You are responsible for maintaining the confidentiality of your accounts and passwords. You agree to immediately notify us of any unauthorized use of your passwords or accounts or any other breach of security. You also agree to exit from your accounts at the end of each session. We will not be responsible for any loss or damage that may result if you fail to comply with these requirements.</p>
				<p>The technology and software underlying our sites and the Services are the property of Website and our Associates. You agree not to copy, modify, rent, lease, loan, sell, assign, distribute, reverse engineer, grant a security interest in or otherwise transfer any right to the technology or software underlying our sites or the Services. You agree not to modify the technology or software underlying our sites in any manner or form, or to use modified versions of same, including (without limitation) for the purpose of obtaining unauthorized access to our sites.</p>
				<p>Without limiting the foregoing, you agree that you will not use our sites to take any of the following actions:</p>
				<ol>
					<li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal right of others.</li>
					<li>Publish, post, upload, email, distribute or disseminate (collectively, "Transmit") any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful content.</li>
					<li>Transmit files that contain viruses, corrupted files, or any other similar software or programs that may damage or adversely affect the operation of another person's computer, our sites, any software or hardware, or telecommunications equipment.</li>
					<li>Advertise or offer to sell any goods or services for any commercial purpose unless you have our written consent to do so.</li>
					<li>Download any file that you know or reasonably should know, cannot be legally obtained in such manner.</li>
					<li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of any material.</li>
					<li>Restrict or inhibit any other user from using and enjoying any public area within our sites.</li>
					<li>Collect or store personal information about other end users.</li>
					<li>Interfere with or disrupt our sites, servers or networks.</li>
					<li>Impersonate any person or entity, including, but not limited to, a Website representative, or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
					<li>Forge headers, manipulate identifiers or other data in order to disguise the origin of any content transmitted through our sites, or to manipulate your presence on our sites.</li>
					<li>Take any action that imposes an unreasonably or disproportionately large load on our infrastructure.</li>
					<li>Engage in any illegal activities.</li>
				</ol>
				<p>You agree to use our bulletin board services, chat areas, news groups, forums, communities and/or message or communication facilities (collectively, the "Forums"), only to send and receive messages and material that are proper and related to that particular Forum.</p>
				<p>If you choose a username that, in our sole discretion, is obscene, indecent, and abusive or which might otherwise subject us to public disparagement or scorn, we reserve the right, without prior notice to you, to automatically change your username, delete your posts from our sites, deny you access to our sites, or any combination of these options.</p>
				<p>Unauthorized access to our sites is a breach of these Terms and a violation of the law. You agree not to access our sites by any means other than through the interface that is provided by Website for use in accessing our sites. You agree not to use any automated means, including, without limitation, agents, robots, scripts, or spiders, to access, monitor or copy any part of our sites except those automated means that we have approved in advance and in writing.</p>
				<p>Use of our sites is subject to existing laws and legal process. Nothing contained in these Terms shall limit our right to comply with governmental, court and law enforcement requests or requirements relating to your use of our sites.</p>
				<h3>User-Generated Content Submissions</h3>
				<p>Your content belongs to you. Except where expressly provided otherwise by Website, all comments, feedback, material, information, ideas, designs, and data of any type submitted by any means to Website through, in association with or in regard to the Website and/or the Service ("Submissions") shall be treated as non-confidential and non-proprietary, and Website is hereby granted a worldwide, exclusive, royalty-free, non-time bound license to use such Submissions in any way it deems fit for any purpose whatsoever, including, but not limited to, developing, manufacturing and marketing products or services, and making compilations or derivative works thereof in all media now known or hereafter devised. Website shall be free to use and/or disseminate such Submissions on an unrestricted basis for any purpose. You acknowledge that you are responsible for the Submissions that you provide, and that you, not Website, have full responsibility for the Submissions, including their legality, reliability, appropriateness, originality and copyright.</p>
				<h3>Disclaimer and Warranties</h3>
				<p>The Company is an intermediary as defined under sub-clause (w) of Section 2 of the Information Technology Act, 2000.</p>
				<p>Nothing in these terms of service seeks to limit your statutory rights (where these cannot be restricted by law) and nothing in these terms of service shall seek to restrict Website liability for any inconveniences caused by Website negligence.</p>
				<p>Subject to the foregoing:</p>
				<ol>
					<li>Subject to applicable law, use of Website Services and any data, content, or services accessed through Website Services (such as quotes, market information, news, or other information or services) is at your sole risk and such offerings are provided "as is" basis, without warranties or representations of any kind, either express or implied.</li>
					<li>Any material or service downloaded or otherwise obtained through the use of Website Services are at your own discretion and risk, and you will be solely responsible for any damage that results from the download and/or use of any such material or service.</li>
					<li>Subject to applicable law, Website expressly disclaims all warranties of any kind, whether express or implied, relating to Website Services and any data, content, or services accessed therefrom, or the accuracy, timeliness, completeness, or adequacy of Website Services and any data, content, or services accessed therefrom. It is solely your responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, Services, merchandise and other information provided through the website. Users are strongly advised to independently verify the authenticity of any offers, recommendations, Pre-Launch offers etc. received by them. Company does not endorse investment in any projects which have not received official sanction and have not been launched by the Builder/Promoter, users dealing in such projects shall be doing so entirely at their risk and responsibility.</li>
					<li>Company and any third party providing materials, services or content to this website, disclaims all warranties, express or implied, statutory or otherwise including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement of third party rights, completeness or accuracy of the information, update or correctness of the information, freedom from computer viruses, other violation of rights regarding services, products, material and contents. Views expressed by the Users are their own, Company does not endorse the same and shall not be responsible for them. No claim as to the accuracy and correctness of the information on the site is made although every attempt is made to ensure that the content is not misleading/ offensive/ inappropriate. In case any inaccuracy is or otherwise improper content is sighted on the website, please report it to report abuse.</li>
					<li>If Website Services or any data, content, or services accessed therefrom prove defective, you assume the entire cost of all repair.</li>
				</ol>
				<h3>Age Restrictions</h3>
				<p>As per the Indian laws, any person under the age of 18 years is considered a minor and accordingly, we do not accept submissions from persons under the age of 18 ("Child" or "Children"). If you are under the age of 18, you must have your parent or legal guardian set up your account and must have them agree to these Terms on ongoing basis and they hereby warrant that they will review these Terms for changes, and if any occur, that they will be amenable thereto until you reach age 18, at which point you hereby give your consent to these Terms. Furthermore, to the extent any user under the age of 18 makes a Submission of copyrighted materials heretofore, their parent or legal guardian hereby grants Website all rights to utilize the copyright and image/likeness embodied therein as further enumerated in this Terms, as though the parent or guardian made the Submission themselves.</p>
				<h3>Community Rules</h3>
				<p>The following conduct is not allowed on our site, in forums, user profiles, talkback, private messages, feedback forms, user reviews, comments or ratings:</p>
				<ol>
					<li><i>Offensive Material</i>: Users may not transmit or encourage others to transmit material or links to material considered patently offensive in nature. This includes, but is not limited to using vulgar, profane, or sexually explicit language; using race, religion, sexual orientation, culture, ethnicity, handicap, nationality, or gender as a means of insult; using threatening, harassing, and defamatory, hate-speech, or libelous language; and posting, requesting, or otherwise sharing material considered pornographic, obscene, graphic or hate speech.</li>
					<li><i>Vulgar language</i> or substitutes for such: Our Service is programmed with a list of words that are considered vulgar under any context, and these words are not allowed to be used under any circumstances. Attempting to bypass the censor by misspelling, inserting spaces or symbols, transposing letters, using look-alike symbols, or any other method is not allowed. Taking advantage of any limits in the Service's language filtering capabilities is not allowed. Any limits in such filters shall not be taken as permission to bypass rules regarding vulgar language.</li>
					<li><i>Flaming</i>: Communications clearly insulting other users, individually or as a group, directly or indirectly, are not allowed. This includes, but is not limited to: name-calling ("You're an idiot", "You moron"); direct insults and orders ("Screw you", "Go kill yourself"); insinuations ("Are you stupid or something?"); or insults towards family ("Your mum...").</li>
					<li><i>Trolling (Inciting flames)</i>: Messages intended solely to annoy and/or offend other users by going against the clear nature of a forum, topic or article are not allowed. This includes, but is not limited to: provoking other users to respond with flames; provoking fans of a particular technology, especially on forums or articles dedicated to that technology; making misleading titles; asking obviously useless questions; and posting false information as fact.</li>
					<li><i>Illegal activity</i>: Communications that violate or incite others to violate the law are not allowed. This includes, but is not limited to, asking for or providing: illegal copies of copyrighted software; methods of circumventing copyright protection; illegal copies of copyrighted music, movies, videos, or any other type of media; reprints of material from other web sites; or methods of cheating in online games.</li>
					<li><i>Advertising</i>: Messages that clearly advertise a service or product are not allowed. This includes, but is not limited to: unsolicited commercial or personal web site advertisements; For-Sale/For-Trade/For-Auction/Wanted: notices; "Make Money Fast" scams, chain letters, and pyramid schemes or any referrer-ID based sites. Users are allowed to include their web site address in a signature, request comments on their personal site in a social setting, or provide, only once, an interesting or relevant link to another site.</li>
					<li><i>Off-topic postings</i>: The main purpose of the message boards and user feedback sections within the Service is to provide discussion forums and opportunities to do with various technology products and services. Topicality is expected and will be enforced on all message boards and chat rooms not noted as purely social in nature.</li>
					<li><i>Disruptive Behavior</i>: Behavior that disrupts the Service for other users, intentional or not, is prohibited. This includes, but is not limited to: messages or topic titles that force browsers to scroll horizontally; large blank or content-free messages; "bumping" multiple older topics (posting in them well after the last post); posting multiple identical or near-identical messages or topics, including "fad" posts or topics; intentionally hard-to-read topic titles or posts (i.e. ALL CAPS, AlTeRnAtE cApS, no spaces, no or excessive punctuation); posting multiple hard-to-read or nonsensical messages in a single or multiple topics; or post counting (i.e. "First", "100th Post"). Shouting or otherwise creating noise in an active voice channel is considered disruptive behavior.</li>
					<li><i>Flooding, Invading, and Board Wars</i>: Flooding a board with multiple disruptive topics or messages; invading another board (flooding a board as a group with multiple topics or messages); instigating, participating in, or retaliating in an invasion of a message board or any other online service; announcing or inciting a "war" or any conflict with the regular members of another board.</li>
					<li><i>Impersonation</i>: Impersonating other users by creating and/or using a user account with a name clearly intended to impersonate, mock, or antagonize another user, or otherwise falsely claiming to be another member is strictly prohibited.</li>
					<li><i>Harassment/Stalking/Privacy</i>: Continual harassing behavior directed towards a certain individual or group with the intent of creating an intimidating, offensive, or hostile environment on the Service, with or without use of explicit or implicit threats is strictly prohibited. Posting contact or other private information of any person (Service user or not) is also prohibited.</li>
				</ol>
				<h3>Limitation of Liability</h3>
				<p>Website and its licensors (including any promoters, directors, staff, agents etc.) are not liable to you for any and all incidental, special, indirect, or consequential damages arising out of or related to Website, any data, content, or services accessed there from, or your use or inability to use or access Website Services, or any data, content, or services accessed there from, whether such damage claims are brought under any theory of law or equity. Damages by this paragraph include, without limitation, those for loss of business profits, business interruption, and loss of business or personal information. We may be using third party software and services and we cannot be held liable in case third party provider discontinues or closes its services or products for any reason. It is agreed by you that we will not be able to provide those disrupted services and support on our Services or applications. However, our customers would only be in touch with us and all the service related support to them would be provided to them by us. </p>
				<p>To the extent allowed by law, in no event shall the aggregate liability of Website exceed the actual cost of the Service, which is already paid by the customer. In case of free Website Services, you hereby agree to relieve us from any financial liability. In no event shall Website or its third party providers be liable to anyone for any indirect, punitive, incidental, special, or consequential damages, or for any damages to your computer, telecommunication equipment, mobile device or other property and/or for loss of data, content, images, revenue, profits, use or other economic advantage, arising out of, or in any way connected with, this agreement or for any information, content or services available on or through this site, including, but not limited to, the accessing or use of this website or the delay or inability to use this website and/or the services associated therewith, including but not limited to the downloading of any materials, or otherwise arising out of the utilization of this site, regardless of cause, whether based in contract, negligence, tort, strict liability, or otherwise, even if the party from which damages are being sought or the third party provider have been previously advised of the possibility of such damages. The limitation of liability set forth in this section shall not apply to customer in the event of customer's breach, or related to customer's indemnity obligations. This paragraph shall not affect the rights listed below in the section titled "indemnities". In cases where some states/jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply.</p>
				<p>No advice or information, whether oral or written, obtained by you from us, Services or the website shall create any warranty not expressly stated in this agreement.</p>
				<p>Certain Specialized or Premium Services may also be provided by the Company based upon its own views, analysis and interpretation only and the same are subjective only. The Company disclaims any liability for any loss or damage, if any, that arises due to reliance upon the same and the User agrees not to hold the Company liable for anything except for any specific work like repair, maintenance, fittings, furnishing etc. carried on by the Company. The User agrees to pay any additional charges and be bound by all additional Terms and Conditions for each of such Specialized Services.</p>
				<p>A few specialized Services currently provided by the Website includes:-</p>
				<ol>
					<li><b>Research Report–</b> A report primarily based on public information and covers important insights for both end user and investor. Some of the parameters which are provided are about the builder past records, area livability, carpet area, density and recommendation, expected rental in the future, appreciation potential of the property, projected estimated price etc.</li>
					<li><b>Property Management–</b> Option to get a local caretaker to manage your property by keeping it well managed. The Company undertakes maintenance, renovation and renting services including tasks like interiors, paying utility bills and other related services for NRI’s, outstation owners and Investors.</li>
					<li><b>Portfolio Management–</b> Optimization of your property portfolio and suggestions for action whether to sell, hold or reinvest to grow the pie. Also get recommendations like Portfolio Recommendation Report and Executing Recommendation.</li>
					<li><b>Assisted Search–</b> Assistance in searching a prospective buyer or seller in the fastest possible time, Outsource your selling & renting responsibilities for faster results and get trusted properties at fair prices.</li>
				</ol>
				<h3>Multiple Accounts</h3>
				<p>While it is acceptable for users to maintain multiple accounts, we can and do track all accounts used on the same computer(s), and we may consider them one account for the purpose of monitoring violations of these Terms. If these Terms are violated severely enough to warrant the termination of one account, all known accounts held by that user and/or all accounts using the same computer(s) may also be banned at the administrator's' discretion.</p>
				<h3>Violations and Penalties</h3>
				<p>Topics and messages that violate these Terms will be deleted from the site and additional penalties may be applied at our moderators' discretion. Re-posting deleted violations (yours or those of others) is also considered a violation.</p>
				<p>Messages and topics may be removed at any time and for any reason at the sole discretion of our editors and designated moderators. User accounts may be warned, suspended, or revoked at any time and for any reason at the sole discretion of our editors and our designated moderators. All determinations of what is "acceptable" and "unacceptable" content will be determined solely by our editors and moderators.</p>
				<p>Intentional, repeated, or severe violations are cause for the banning of your account, all use of the site from your IP address or your entire ISP. In such event, we also reserve the right to contact your ISP concerning your activities.</p>
				<h3>Indemnification</h3>
				<p>You hereby agree to indemnify, defend and hold Website, and all of our officers, directors, owners, employees, agents, information providers, Associates and licensors etc. (collectively, the "Website Parties") harmless from and against any and all liability, losses, costs and expenses (including attorneys' fees) incurred by any Website Party in connection with any claim including, but not limited to, claims for defamation, violation of rights of publicity and/or privacy, patent or copyright or trademark infringement arising out of:</p>
				<ol>
					<li>Your connection to our sites</li>
					<li>Your use of our sites</li>
					<li>The content, quality or performance of content that you submit to our sites</li>
					<li>Any use or alleged use of your accounts or your passwords by any person, whether or not authorized by you</li>
					<li>Your violation of these Terms</li>
					<li>Your violation of the rights of any other person or entity</li>
				</ol>
				<p>We reserve the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.</p>
				<p>Website shall have no indemnification obligation or other liability for any claim of infringement arising from (a) your use of the Website and/or the Service or Content associated with the Website or Service other than in accordance with these Terms; (b) the combination of the Website and/or the goods, services or Content associated with the Website with any other products, services, or materials; or (c) any third party products, services, content, or materials.</p>
				<h3>Intellectual Property Rights</h3>
				<p>All material contained on this Website, unless otherwise indicated, is protected by law, including, but not limited to, Indian patent, copyright, trademark, and other intellectual property protection laws, as well as other state, national, and international laws, treaties and regulations. Except as expressly provided herein, Website does not grant any express or implied intellectual property right(s) to users of this Website or the Services, or any parts thereof. You agree not to decompile or reverse engineer any parts of the Website or Service. Please be aware that Website actively and aggressively enforces its intellectual property rights to the fullest extent of the law.</p>
				<p>The Content, design and layout of this Website are copyright products of Website. Removing or altering the copyright notice on any material on this Website is prohibited. Website also owns a copyright in the Website and Service as a collective work and/or compilation, and in the selection, coordination and arrangement of the Website's and Service’s content. Other product names, company names, marks, logos and/or symbols mentioned herein may be the trademarks of their respective owners.</p>
				<p>All copyright, marks and/or know-how and/or any other related intellectual property rights to the Services shall become and remain the sole and exclusive property of the Website and the User shall have no claims to the same. In the event the User has contributed any content on the website in any manner whatsoever, all intellectual property rights to the same shall become the absolute property of the Company, including all intellectual property rights and the User shall have no right or claim over the same, in any manner whatsoever.</p>
				<h3>Confidentiality</h3>
				<p>You shall keep confidential and secret and not disclose to any third party the Confidential Information nor any part of it, except to any of the Website’s Associates, if required and upon prior permission in writing from the Website. Further no use, reproduction, transformation or storage of the Proprietary Information shall be made by You without the prior written permission of the Company, except where required to be disclosed pursuant to any applicable law or legal process issued by any court or the rules of any competent regulatory body.</p>
				<p>All information and data submitted by You shall become the property of the Company. However all such information shall be kept strictly confidential and the Company shall not, subject to Violation of Terms clause, release any such data and information to any third party without the prior consent of the User.</p>
				<p><b>“ Confidential Information ”</b> hereby shall mean and include all financial, commercial, technical, operational, staff, management and other information, data and know-how (including, without limitation, as to products and services, assets, customers, date and database, suppliers or employees), which may be supplied to or may otherwise come into the possession of the other (the <b>“ Receiving Party ”</b>, herein the User ), whether orally or in writing or in any other form, and which is confidential or proprietary in nature or otherwise expressed by the Disclosing Party (the <b>“Disclosing Party”</b>, herein the Website) or by any of its Associates to be confidential, and not generally available to the public.</p>
				<h3>Termination</h3>
				<p>These Terms continue until terminated by either party. You may terminate these Terms by discontinuing use of all Website Services and by surrendering and destroying all your copies thereof. You may be required to clear any monetary dues with Website to effectively terminate the Service Terms. These Terms terminate automatically if you violate any term hereof, Website posts a written notice of termination on Website web site publicly, or Website sends a written (including email or text message) notice of termination to you directly. Your obligations in these Terms survive any termination of these Terms.</p>
				<h3>Notices</h3>
				<p>All notices shall be in English and in writing and (a) if sent to the User to the address identified on the Application Form and (b) if sent to the Company to such address as provided in writing for such notice purposes; provided, however, that all invoices and payments shall be sent to the attention of the Company’s Finance department, all legal notices shall be sent to the attention of the Company’s Legal Department, and all other correspondence shall be sent to the attention of the account manager specified by the Company.</p>
				<h3>Disclaimers</h3>
				<p>We disclaim any responsibility for the deletion, failure to store, mis-delivery, or untimely delivery of any information or material. We disclaim any responsibility for any harm resulting from downloading or accessing any information or material on the Internet using search results from our sites. We disclaim any responsibility for service outages that are caused by our maintenance on the servers or the technology that underlies our sites, failures of our service providers (including telecommunications, hosting and power providers) computer viruses, natural disasters or other destruction or damage of our facilities, an act of nature, war, civil disturbance or other cause beyond our reasonable control.</p>
				<p>We do not warrant that our sites or Services will be uninterrupted or error-free. In addition, we do not make any warranty as to the content on our sites. Our sites and their content are distributed on an "as is, as available" basis. Any material that you download or otherwise obtain through our sites is done at your own discretion and risk, and you will be solely responsible for any potential damages to yourself (including financial losses), your computer system or loss of data that results from your download of any such material. Neither we nor any of our Associates makes any warranty that (i) our sites will meet your requirements, (ii) our sites will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of our sites will be accurate or reliable, (iv) the quality of any products, services, information, or other material that you purchase or obtain through our</p>
				<p>sites will meet your expectations, and (v) any errors will be corrected. Neither we nor any of our Associates makes any warranties of any kind, either express or implied, including, without limitation, warranties of title or implied warranties of merchantability or fitness for a particular purpose, with respect to our sites, any content or any our services, tools, products or properties. You expressly agree that you will assume the entire risk as to the quality and performance of our sites and the accuracy or completeness of its content.</p>
				<p>None of our Associates, service providers shall be liable for any direct, indirect, incidental, special or consequential damages arising out of the use of or inability to use our sites, even if we have been advised of the possibility of such damages.</p>
				<p>In cases where some states do not allow exclusion of implied warranties or limitation of liability for incidental or consequential damages, so the above limitations or exclusions may not apply to you. In such states, our liability and that of our third party content providers and their respective agents shall be limited to the greatest extent permitted by law.</p>
				<h3>Arbitration</h3>
				<p>Website may elect to resolve any controversy or claim arising out of or relating to these Terms or our sites by binding arbitration in accordance with the arbitration rules of the Indian Arbitration Act 1996, as amended time to time. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted by a sole arbitrator and the seat of such arbitration shall be at Noida only. The proceedings of the arbitration shall be carried out in English language and judgment on the arbitration award may be entered in any court having jurisdiction thereof. Either you or we may seek any interim or preliminary relief from a court of competent jurisdiction in New Delhi necessary to protect the rights or property of you or Website (or its agents, suppliers, and subcontractors) pending the completion of arbitration.</p>
				<p>Any dispute concerning this arbitration provision or whether a Claim is valid for arbitration shall be determined by the arbitrator(s). The arbitrator(s) shall have the power to award legal fees pursuant to these Terms. This paragraph does not limit the right of Website to: (i) exercise self-help remedies, such as but not limited to, setoff; (ii) initiate judicial or non-judicial foreclosure against any real or personal property collateral; (iii) exercise any judicial or power of sale rights, or (iv) act in a court of law to obtain an interim remedy, such as but not limited to, injunctive relief, writ of possession or appointment of a receiver, or additional or supplementary remedies. In the event of any controversy or dispute (whether or not arbitrated), arising out of or in connection with this Agreement, its interpretation, its performance, or the like, the prevailing party shall be awarded reasonable attorneys' fees and expenses, court costs and reasonable costs for expert and other witnesses attributable to the prosecution or defense of that controversy or dispute.</p>
				<h3>Miscellaneous</h3>
				<ol>
					<li>Jurisdiction: These Terms of Service and the relationship between you and Website shall be governed by the laws of India without regard to its conflict of law provisions. You and Website agree to submit to the personal and exclusive jurisdiction of the courts located within Noida, U.P., India only.</li>
					<li>Terms: These Terms of Service and the Website <a href="/privacy-policy">Privacy Policy</a> (and the documents incorporated by reference into those terms) constitute the entire Terms between you and Website and governs your use of Website Services, superseding any prior agreement(s) between you and Website with respect to Website Services.</li>
					<li>Waiver and Severability of Terms. The failure of Website to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. If any provision of these Terms of Service is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, or will be superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Terms shall continue in effect and the other provisions of these Terms of Service remain in full force and effect.</li>
					<li>Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of Website Services or these Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred. The titles in these Terms of Service are for convenience only and have no legal or contractual effect.</li>
				</ol>
				<p>We may be required by state or central law to notify you of certain events. You hereby acknowledge and consent that such notices will be effective upon our posting them on our sites or delivering them to you through email. You may update your email address by visiting the Website Services where you have provided contact information. If you do not provide us with accurate information, we cannot be held liable if we fail to notify you. </p>
				<p>Our failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. </p>
				<p>If you have any questions about these Terms, or if you would like to get explanation on any points, please contact us at the address listed above.</p>
				<p>Complaints</p>
				<p>For any complaints, abuse or concerns with regards to content and or comment or breach of these terms please write to <a href="mailto:legal@fairpockets.com">legal@fairpockets.com</a>.</p>
                <div class="space-l"></div>
            </div>  
        </div>
    </div>
</section>
